---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2022, Community Edition, version 17.0.0

# Summary

Test suites *AllTests* with 6 test cases was executed 2021-12-30 at 22:01:04.420 with result:

* 0 errors
* 0 failures

Test suites execution took 0.006 seconds.

# Details

## std_exception_test_suite

Test suite *std_exception_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
test_catch_go_exception | 0
test_catch_go_exception_as_std_exception | 0
test_catch_derived_exception | 0
test_catch_derived_exception_as_go_exception | 0
test_catch_derived_exception_as_std_exception | 0
test_catch_other_exception | 0
