# use glob syntax.
syntax: glob

*.7z
*.bak
*.exe
*.idb
*.ilk
*.lastbuildstate
*.log
*.obj
*.opensdf
*.orig
*.pdb
*.sdf
*.suo
*.tlog
*~

dev/.vs/**
dev/.vscode/0.*.bat
unsuccessfulbuild

# switch to regexp syntax.
syntax: regexp
