---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro 18.0.4 Illyria, Xfce, 64 bits
* gcc (GCC) 9.1.0

# Summary

Test suites *AllTests* with 32 test cases was executed 2019-09-10 at 16:33:39 with result:

* 0 errors
* 0 failures

Test suites execution took 0.001 seconds.

# Details

## boost_define_go_boost_address_model_test_suite

Test suite *boost_define_go_boost_address_model_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_not_define_go_boost_address_model_32 | 0
test_define_go_boost_address_model_64 | 0
test_pointer_size | 0

## boost_define_go_boost_compiler_test_suite

Test suite *boost_define_go_boost_compiler_test_suite* with 25 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_not_define_go_boost_clang_version | 0
test_not_define_go_boost_comp_clang | 0
test_define_go_boost_comp_gcc | 0
test_not_define_go_boost_comp_gcc_mingw | 0
test_not_define_go_boost_comp_msvc | 0
test_not_define_go_boost_comp_msvc_vc90 | 0
test_not_define_go_boost_comp_msvc_vc100 | 0
test_not_define_go_boost_comp_msvc_vc110 | 0
test_not_define_go_boost_comp_msvc_vc120 | 0
test_not_define_go_boost_comp_msvc_vc140 | 0
test_not_define_go_boost_comp_msvc_vc141 | 0
test_define_go_boost_gcc_version | 0
test_not_define_go_boost_ide_ms_vs2008 | 0
test_not_define_go_boost_ide_ms_vs2010 | 0
test_not_define_go_boost_ide_ms_vs2012 | 0
test_not_define_go_boost_ide_ms_vs2013 | 0
test_not_define_go_boost_ide_ms_vs2015 | 0
test_not_define_go_boost_ide_ms_vs2017 | 0
test_not_define_go_boost_msvc_atl | 0
test_not_define_go_boost_msvc_atl_ver | 0
test_not_define_go_boost_msvc_full_ver | 0
test_not_define_go_boost_msvc_mfc | 0
test_not_define_go_boost_msvc_mfc_ver | 0
test_not_define_go_boost_msvc_ver | 0
test_not_define_go_boost_unicode | 0

## boost_define_go_boost_message_test_suite

Test suite *boost_define_go_boost_message_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_define_go_boost_message | 0

## boost_define_go_boost_platform_test_suite

Test suite *boost_define_go_boost_platform_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_define_go_boost_platform_linux | 0
test_not_define_go_boost_platform_windows | 0

## boost_define_go_boost_typename_test_suite

Test suite *boost_define_go_boost_typename_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_define_go_boost_typename | 0
