---
layout: unit_tests
---

# Test environment and toolset 

*  Linux 18.1.1 Juhraya, Xfce, 64 bits
* gcc (GCC) 9.2.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-12-08 at 15:38:20 with result:

* 0 errors
* 0 failures

Test suites execution took 0.803 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.803 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.101
test_stopwatch_reset | 0.1
test_stopwatch_guard | 0.101
test_stopwatch_start_stop_five_times | 0.501
