---
layout: unit_tests
---

# Test environment and toolset 

*  Linux 18.1.1 Juhraya, Xfce, 64 bits
* gcc (GCC) 9.2.0

# Summary

Test suites *AllTests* with 6 test cases was executed 2019-12-08 at 15:38:21 with result:

* 0 errors
* 0 failures

Test suites execution took 0 seconds.

# Details

## boost_exception_test_suite

Test suite *boost_exception_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_catch_go_boost_exception | 0
test_catch_go_boost_exception_as_boost_exception | 0
test_catch_derived_exception | 0
test_catch_derived_exception_as_go_boost_exception | 0
test_catch_derived_exception_as_boost_exception | 0
test_catch_other_exception | 0
