---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 17.1.12 Hakoila, Xfce, 64 bits
* gcc (GCC) 8.2.1

# Summary

Test suites *AllTests* with 6 test cases was executed 2018-11-11 at 14:51:54 with result:

* 0 errors
* 0 failures

Test suites execution took 0.001 seconds.

# Details

## boost_exception_test_suite

Test suite *boost_exception_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_catch_go_boost_exception | 0
test_catch_go_boost_exception_as_boost_exception | 0
test_catch_derived_exception | 0
test_catch_derived_exception_as_go_boost_exception | 0
test_catch_derived_exception_as_boost_exception | 0
test_catch_other_exception | 0
