---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 17.1.12 Hakoila, Xfce, 64 bits
* gcc (GCC) 8.2.0
