---
layout: unit_tests
---

# Test environment and toolset 

*  Linux 18.1.1 Juhraya, Xfce, 64 bits
* gcc (GCC) 9.2.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2020-01-02 at 19:38:09 with result:

* 0 errors
* 0 failures

Test suites execution took 0.823 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.823 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.11
test_stopwatch_reset | 0.101
test_stopwatch_guard | 0.101
test_stopwatch_start_stop_five_times | 0.51
