---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro 18.0.1 Illyria, Xfce, 64 bits
* gcc (GCC) 8.2.1 20181127

# Summary

Test suites *AllTests* with 6 test cases was executed 2019-02-17 at 16:46:08 with result:

* 0 errors
* 0 failures

Test suites execution took 0.001 seconds.

# Details

## std_exception_test_suite

Test suite *std_exception_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_catch_go_exception | 0
test_catch_go_exception_as_std_exception | 0
test_catch_derived_exception | 0
test_catch_derived_exception_as_go_exception | 0
test_catch_derived_exception_as_std_exception | 0
test_catch_other_exception | 0
