---
layout: unit_tests
---

# Test environment and toolset 

*  Linux 18.1.1 Juhraya, Xfce, 64 bits
* gcc (GCC) 9.2.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-11-02 at 11:11:04 with result:

* 0 errors
* 0 failures

Test suites execution took 0.831 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.831 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.108
test_stopwatch_reset | 0.107
test_stopwatch_guard | 0.106
test_stopwatch_start_stop_five_times | 0.509
