---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux Qonos 21.2.0, Xfce, 64 bits
* gcc (GCC) 11.1.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-12-31 at 12:11:49.125 with result:

* 0 errors
* 0 failures

Test suites execution took 1.12 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 1.12 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.308
test_stopwatch_reset | 0.142
test_stopwatch_guard | 0.108
test_stopwatch_start_stop_five_times | 0.56
