---
layout: unit_tests
---

# Test environment and toolset 

*  Manjaro Linux 21.1.4 Pahvo, Xfce, 64 bits
* gcc (GCC) 11.1.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-10-04 at 18:37:09.842 with result:

* 0 errors
* 0 failures

Test suites execution took 1.242 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 1.242 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.118
test_stopwatch_reset | 0.1
test_stopwatch_guard | 0.114
test_stopwatch_start_stop_five_times | 0.909
