---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro 18.0.4 Illyria, Xfce, 64 bits
* gcc (GCC) 9.1.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-09-10 at 16:33:41 with result:

* 0 errors
* 0 failures

Test suites execution took 0.84 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.84 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.111
test_stopwatch_reset | 0.106
test_stopwatch_guard | 0.106
test_stopwatch_start_stop_five_times | 0.517
