---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro 18.0.1 Illyria, Xfce, 64 bits
* gcc (GCC) 8.2.1 20181127

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-02-17 at 16:46:08 with result:

* 0 errors
* 0 failures

Test suites execution took 0.807 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.807 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.101
test_stopwatch_reset | 0.101
test_stopwatch_guard | 0.101
test_stopwatch_start_stop_five_times | 0.504
