---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro 18.0.1 Illyria, Xfce, 64 bits
* gcc (GCC) 8.2.1 20181127

# Summary

Test suites *AllTests* with 9 test cases was executed 2019-03-27 at 18:57:29 with result:

* 0 errors
* 0 failures

Test suites execution took 0.008 seconds.

# Details

## std_signals_string_placebo_lockable_test_suite

Test suite *std_signals_string_placebo_lockable_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0
test_fire_proton_torpedoes | 0
test_fire_all_weapons | 0.001

## std_signals_string_test_suite

Test suite *std_signals_string_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.006 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0
test_fire_proton_torpedoes | 0
test_fire_all_weapons | 0.006

## std_signals_wstring_test_suite

Test suite *std_signals_wstring_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0
test_fire_proton_torpedoes | 0.001
test_fire_all_weapons | 0
