---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux Qonos 21.2.0, Xfce, 64 bits
* gcc (GCC) 11.1.0

# Summary

Test suites *AllTests* with 72 test cases was executed 2021-12-31 at 12:11:50.356 with result:

* 0 errors
* 0 failures

Test suites execution took 0.002 seconds.

# Details

## std_nameless_property_test_suite

Test suite *std_nameless_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_nameless_property_placebo_lockable_test_suite

Test suite *std_nameless_property_placebo_lockable_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_property_placebo_lockable_test_suite

Test suite *std_property_placebo_lockable_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_property_test_suite

Test suite *std_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u16property_test_suite

Test suite *std_u16property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u32property_test_suite

Test suite *std_u32property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u8property_test_suite

Test suite *std_u8property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_wproperty_test_suite

Test suite *std_wproperty_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0
