---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-09-30 at 18:06:45 with result:

* 0 errors
* 0 failures

Test suites execution took 0.828 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.823 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.101
test_stopwatch_reset | 0.101
test_stopwatch_guard | 0.101
test_stopwatch_start_stop_five_times | 0.511
