---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 4 test cases was executed 2021-10-01 at 16:41:37 with result:

* 0 errors
* 0 failures

Test suites execution took 0.005 seconds.

# Details

## std_monitor_test_suite

Test suite *std_monitor_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_placebo_lockable_test_suite

Test suite *std_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_recursive_spin_lock_test_suite

Test suite *std_recursive_spin_lock_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_spin_lock_test_suite

Test suite *std_spin_lock_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0
