---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 42 test cases was executed 2021-11-09 at 19:59:43 with result:

* 0 errors
* 0 failures

Test suites execution took 0.034 seconds.

# Details

## std_ascii_test_suite

Test suite *std_ascii_test_suite* with 24 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.015 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0.001
test_system_wide_character_count | 0
test_ucs_2_character_count | 0.001
test_utf_8_character_count | 0
test_char_is_7_bit_ascii_character | 0
test_char8_t_is_7_bit_ascii_character | 0
test_wchar_t_is_7_bit_ascii_character | 0
test_char2_t_is_7_bit_ascii_character | 0
test_multibyte_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_system_wide_reduce_iso_8859_1_to_7_bit_ascii_characters | 0.001
test_ucs_2_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_utf_8_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_multibyte_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_system_wide_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_ucs_2_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_utf_8_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_multibyte_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_system_wide_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_ucs_2_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_utf_8_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_multibyte_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_system_wide_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_ucs_2_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_utf_8_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0

## std_create_string_test_suite

Test suite *std_create_string_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_iso_8859_1_test_suite

Test suite *std_iso_8859_1_test_suite* with 8 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_char_is_iso_8859_1_character | 0
test_char8_t_is_iso_8859_1_character | 0
test_wchar_t_is_iso_8859_1_character | 0
test_char2_t_is_iso_8859_1_character | 0

## std_string_cast_test_suite

Test suite *std_string_cast_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_windows_1252_test_suite

Test suite *std_windows_1252_test_suite* with 8 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_char_is_windows_1252_character | 0
test_char8_t_is_windows_1252_character | 0
test_wchar_t_is_windows_1252_character | 0
test_char2_t_is_windows_1252_character | 0
