---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 1 test cases was executed 2019-09-30 at 18:06:49 with result:

* 0 errors
* 0 failures

Test suites execution took 0.008 seconds.

# Details

## std_diagnostics_test_suite

Test suite *std_diagnostics_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0
