---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 3 test cases was executed 2019-12-08 at 13:18:29 with result:

* 0 errors
* 0 failures

Test suites execution took 0.011 seconds.

# Details

## std_signals_string_placebo_lockable_test_suite

Test suite *std_signals_string_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_signals_string_test_suite

Test suite *std_signals_string_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_signals_wstring_test_suite

Test suite *std_signals_wstring_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0
