---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 1 test cases was executed 2020-01-08 at 19:02:50 with result:

* 0 errors
* 0 failures

Test suites execution took 0.005 seconds.

# Details

## std_diagnostics_test_suite

Test suite *std_diagnostics_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0
