---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 54 test cases was executed 2019-12-08 at 13:18:29 with result:

* 0 errors
* 0 failures

Test suites execution took 0.099 seconds.

# Details

## std_ascii_test_suite

Test suite *std_ascii_test_suite* with 24 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.034 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0.001
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_char_is_7_bit_ascii_character | 0
test_char8_t_is_7_bit_ascii_character | 0
test_wchar_t_is_7_bit_ascii_character | 0
test_char2_t_is_7_bit_ascii_character | 0
test_multibyte_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_system_wide_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_ucs_2_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_utf_8_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_multibyte_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_system_wide_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_ucs_2_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_utf_8_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_multibyte_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_system_wide_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_ucs_2_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_utf_8_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_multibyte_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_system_wide_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_ucs_2_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_utf_8_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0

## std_circular_buffer_test_suite

Test suite *std_circular_buffer_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_container_size_test_suite

Test suite *std_container_size_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_create_string_test_suite

Test suite *std_create_string_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_erase_iterator_test_suite

Test suite *std_erase_iterator_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_iso_8859_1_test_suite

Test suite *std_iso_8859_1_test_suite* with 8 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_char_is_iso_8859_1_character | 0
test_char8_t_is_iso_8859_1_character | 0
test_wchar_t_is_iso_8859_1_character | 0
test_char2_t_is_iso_8859_1_character | 0

## std_monitor_test_suite

Test suite *std_monitor_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_placebo_lockable_test_suite

Test suite *std_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_recursive_spin_lock_test_suite

Test suite *std_recursive_spin_lock_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_reverse_test_suite

Test suite *std_reverse_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp14_not_supported | 0

## std_scope_guard_new_test_suite

Test suite *std_scope_guard_new_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard_new | 0

## std_scope_guard_test_suite

Test suite *std_scope_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard | 0

## std_spin_lock_test_suite

Test suite *std_spin_lock_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_string_cast_test_suite

Test suite *std_string_cast_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_try_move_iterator_backward_test_suite

Test suite *std_try_move_iterator_backward_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_value_guard_test_suite

Test suite *std_value_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_value_guard | 0

## std_windows_1252_test_suite

Test suite *std_windows_1252_test_suite* with 8 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_char_is_windows_1252_character | 0
test_char8_t_is_windows_1252_character | 0
test_wchar_t_is_windows_1252_character | 0
test_char2_t_is_windows_1252_character | 0
