---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 33 test cases was executed 2019-10-22 at 21:29:35 with result:

* 0 errors
* 0 failures

Test suites execution took 0.051 seconds.

# Details

## std_define_go_add_quotes_test_suite

Test suite *std_define_go_add_quotes_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_define_go_add_quotes | 0

## std_define_go_address_model_test_suite

Test suite *std_define_go_address_model_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
test_define_go_address_model_32 | 0
test_not_define_go_address_model_64 | 0
test_pointer_size | 0

## std_define_go_compiler_test_suite

Test suite *std_define_go_compiler_test_suite* with 25 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.031 seconds.

### Successful test cases

Test case|Execution time
-|-
test_not_define_go_clang_version | 0
test_not_define_go_comp_clang | 0
test_not_define_go_comp_gcc | 0
test_not_define_go_comp_gcc_mingw | 0
test_define_go_comp_msvc | 0
test_define_go_comp_msvc_vc90 | 0
test_define_go_comp_msvc_vc100 | 0
test_define_go_comp_msvc_vc110 | 0
test_define_go_comp_msvc_vc120 | 0
test_define_go_comp_msvc_vc140 | 0
test_define_go_comp_msvc_vc141 | 0
test_not_define_go_gcc_version | 0
test_define_go_ide_ms_vs2008 | 0
test_define_go_ide_ms_vs2010 | 0
test_define_go_ide_ms_vs2012 | 0
test_define_go_ide_ms_vs2013 | 0
test_define_go_ide_ms_vs2015 | 0
test_define_go_ide_ms_vs2017 | 0
test_define_go_msvc_atl | 0
test_define_go_msvc_atl_ver | 0
test_define_go_msvc_full_ver | 0
test_define_go_msvc_mfc | 0
test_define_go_msvc_mfc_ver | 0
test_define_go_msvc_ver | 0
test_define_go_unicode | 0

## std_define_go_message_test_suite

Test suite *std_define_go_message_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_define_go_message | 0

## std_define_go_platform_test_suite

Test suite *std_define_go_platform_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_define_go_platform_windows | 0
test_not_define_go_platform_linux | 0

## std_define_go_typename_test_suite

Test suite *std_define_go_typename_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_define_go_typename | 0
