---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2008 Express Edition with SP1

# Summary

Test suites *AllTests* with 8 test cases was executed 2021-10-01 at 16:41:37 with result:

* 0 errors
* 0 failures

Test suites execution took 0.016 seconds.

# Details

## std_nameless_property_test_suite

Test suite *std_nameless_property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_nameless_property_placebo_lockable_test_suite

Test suite *std_nameless_property_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_property_placebo_lockable_test_suite

Test suite *std_property_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_property_test_suite

Test suite *std_property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_u16property_test_suite

Test suite *std_u16property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_u32property_test_suite

Test suite *std_u32property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_u8property_test_suite

Test suite *std_u8property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.006 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_wproperty_test_suite

Test suite *std_wproperty_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0
