---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2012 for Windows Desktop

# Summary

Test suites *AllTests* with 28 test cases was executed 2021-10-01 at 16:41:46 with result:

* 0 errors
* 0 failures

Test suites execution took 0.031 seconds.

# Details

## std_circular_buffer_test_suite

Test suite *std_circular_buffer_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_container_size_test_suite

Test suite *std_container_size_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_size_on_deque | 0
test_size_on_list | 0
test_size_on_vector | 0
test_size_on_map | 0
test_size_on_set | 0

## std_erase_iterator_test_suite

Test suite *std_erase_iterator_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_erase_iterator_on_deque | 0
test_erase_iterator_on_list | 0
test_erase_iterator_on_vector | 0
test_erase_iterator_on_map | 0
test_erase_iterator_on_set | 0

## std_reverse_test_suite

Test suite *std_reverse_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp14_feature_not_supported | 0

## std_scope_guard_new_test_suite

Test suite *std_scope_guard_new_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard_new | 0

## std_scope_guard_test_suite

Test suite *std_scope_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard | 0.001

## std_try_move_iterator_backward_test_suite

Test suite *std_try_move_iterator_backward_test_suite* with 13 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.017 seconds.

### Successful test cases

Test case|Execution time
-|-
test_try_move_backward_on_array | 0
test_try_move_backward_on_deque | 0
test_try_move_backward_on_forward_list | 0
test_try_move_backward_on_list | 0
test_try_move_backward_on_vector | 0
test_try_move_backward_on_map | 0
test_try_move_backward_on_set | 0
test_try_move_backward_on_multimap | 0
test_try_move_backward_on_multiset | 0
test_try_move_backward_on_unordered_map | 0
test_try_move_backward_on_unordered_set | 0
test_try_move_backward_on_unordered_multimap | 0
test_try_move_backward_on_unordered_multiset | 0

## std_value_guard_test_suite

Test suite *std_value_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_value_guard | 0
