---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2012 for Windows Desktop

# Summary

Test suites *AllTests* with 6 test cases was executed 2019-09-30 at 18:06:59 with result:

* 0 errors
* 0 failures

Test suites execution took 0.007 seconds.

# Details

## std_exception_test_suite

Test suite *std_exception_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_catch_go_exception | 0
test_catch_go_exception_as_std_exception | 0
test_catch_derived_exception | 0
test_catch_derived_exception_as_go_exception | 0
test_catch_derived_exception_as_std_exception | 0
test_catch_other_exception | 0
