---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2012 for Windows Desktop

# Summary

Test suites *AllTests* with 33 test cases was executed 2019-12-19 at 21:03:39 with result:

* 0 errors
* 0 failures

Test suites execution took 0.029 seconds.

# Details

## std_nameless_property_test_suite

Test suite *std_nameless_property_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0.004
read_only_value_properties | 0
write_only_value_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_nameless_property_placebo_lockable_test_suite

Test suite *std_nameless_property_placebo_lockable_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_property_placebo_lockable_test_suite

Test suite *std_property_placebo_lockable_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_property_test_suite

Test suite *std_property_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.006 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0.001
write_only_value_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u16property_test_suite

Test suite *std_u16property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_u32property_test_suite

Test suite *std_u32property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_u8property_test_suite

Test suite *std_u8property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wproperty_test_suite

Test suite *std_wproperty_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0.001
