---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 18.0.4 Illyria, Xfce, 64 bits
* clang version 8.0.1 (tags/RELEASE_801/final)

# Summary

Test suites *AllTests* with 6 test cases was executed 2019-10-09 at 21:14:17 with result:

* 0 errors
* 0 failures

Test suites execution took 0.039 seconds.

# Details

## boost_exception_test_suite

Test suite *boost_exception_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.038 seconds.

### Successful test cases

Test case|Execution time
-|-
test_catch_go_boost_exception | 0.038
test_catch_go_boost_exception_as_boost_exception | 0
test_catch_derived_exception | 0
test_catch_derived_exception_as_go_boost_exception | 0
test_catch_derived_exception_as_boost_exception | 0
test_catch_other_exception | 0
