---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 18.1.1 Juhraya, Xfce, 64 bits
* clang version 9.0.0 (tags/RELEASE_900/final)

# Summary

Test suites *AllTests* with 72 test cases was executed 2019-10-24 at 17:48:54 with result:

* 0 errors
* 0 failures

Test suites execution took 0.033 seconds.

# Details

## boost_nameless_property_test_suite

Test suite *boost_nameless_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_nameless_property_placebo_lockable_test_suite

Test suite *boost_nameless_property_placebo_lockable_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0.001
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_property_placebo_lockable_test_suite

Test suite *boost_property_placebo_lockable_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_property_test_suite

Test suite *boost_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0.001
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_u16property_test_suite

Test suite *boost_u16property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.025 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0.023
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0.001

## boost_u32property_test_suite

Test suite *boost_u32property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_u8property_test_suite

Test suite *boost_u8property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0.001
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_wproperty_test_suite

Test suite *boost_wproperty_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0.001
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0
