---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 18.0.1 Illyria, Xfce, 64 bits
* clang version 7.0.1 (tags/RELEASE_701/final)

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-03-27 at 18:57:24 with result:

* 0 errors
* 0 failures

Test suites execution took 0.875 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.875 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.113
test_stopwatch_reset | 0.1
test_stopwatch_guard | 0.12
test_stopwatch_start_stop_five_times | 0.542
