---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux Qonos 21.2.0, Xfce, 64 bits
* clang version 13.0.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-12-31 at 12:11:45.936 with result:

* 0 errors
* 0 failures

Test suites execution took 0.848 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.848 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.106
test_stopwatch_reset | 0.102
test_stopwatch_guard | 0.102
test_stopwatch_start_stop_five_times | 0.536
