---
layout: unit_tests
---

# Test environment and toolset 

* MManjaro Linux 21.1.4 Pahvo, Xfce, 64 bits
* clang version 12.0.1

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-10-04 at 18:37:06.324 with result:

* 0 errors
* 0 failures

Test suites execution took 1.085 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 1.084 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.294
test_stopwatch_reset | 0.101
test_stopwatch_guard | 0.116
test_stopwatch_start_stop_five_times | 0.572
