---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 18.1.1 Juhraya, Xfce, 64 bits
* clang version 9.0.0 (tags/RELEASE_900/final)

# Summary

Test suites *AllTests* with 11 test cases was executed 2020-01-15 at 18:16:04 with result:

* 0 errors
* 0 failures

Test suites execution took 0.001 seconds.

# Details

## std_monitor_test_suite

Test suite *std_monitor_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_monitor | 0
test_monitor_two_threads | 0

## std_placebo_lockable_test_suite

Test suite *std_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_placebo_lockable | 0
test_placebo_lockable_lock_guard | 0

## std_recursive_spin_lock_test_suite

Test suite *std_recursive_spin_lock_test_suite* with 4 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_placebo_lockable_two_threads | 0
test_recursive_spin_lock | 0
test_recursive_spin_lock_lock_guard | 0.001
test_recursive_spin_lock_two_threads | 0

## std_spin_lock_test_suite

Test suite *std_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_spin_lock | 0
test_spin_lock_lock_guard | 0
test_spin_lock_two_threads | 0
