---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 18.0.4 Illyria, Xfce, 64 bits
* clang version 8.0.0 (tags/RELEASE_701/final)

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-05-31 at 17:48:01 with result:

* 0 errors
* 0 failures

Test suites execution took 0.865 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.865 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.111
test_stopwatch_reset | 0.103
test_stopwatch_guard | 0.111
test_stopwatch_start_stop_five_times | 0.54
