---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 17.1.12 Hakoila, Xfce, 64 bits
* clang version 6.0.1 (tags/RELEASE_601/final)

# Summary

Test suites *AllTests* with 54 test cases was executed 2018-08-22 at 19:55:34 with result:

* 0 errors
* 0 failures

Test suites execution took 0.005 seconds.

# Details

## std_nameless_property_test_suite

Test suite *std_nameless_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_property_test_suite

Test suite *std_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u16property_test_suite

Test suite *std_u16property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0.001
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u32property_test_suite

Test suite *std_u32property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u8property_test_suite

Test suite *std_u8property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_wproperty_test_suite

Test suite *std_wproperty_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0.001
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0
