---
layout: unit_tests
---

# Test environment and toolset 

* Manjaro Linux 18.1.1 Juhraya, Xfce, 64 bits
* clang version 9.0.0 (tags/RELEASE_900/final)

# Summary

Test suites *AllTests* with 9 test cases was executed 2019-12-08 at 15:38:20 with result:

* 0 errors
* 0 failures

Test suites execution took 0.003 seconds.

# Details

## std_signals_string_placebo_lockable_test_suite

Test suite *std_signals_string_placebo_lockable_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0
test_fire_proton_torpedoes | 0
test_fire_all_weapons | 0

## std_signals_string_test_suite

Test suite *std_signals_string_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0
test_fire_proton_torpedoes | 0
test_fire_all_weapons | 0.001

## std_signals_wstring_test_suite

Test suite *std_signals_wstring_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0
test_fire_proton_torpedoes | 0
test_fire_all_weapons | 0.001
