---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2010 Express

# Summary

Test suites *AllTests* with 6 test cases was executed 2018-09-20 at 18:10:12 with result:

* 0 errors
* 0 failures

Test suites execution took 0.011 seconds.

# Details

## std_nameless_property_test_suite

Test suite *std_nameless_property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_property_test_suite

Test suite *std_property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_u16property_test_suite

Test suite *std_u16property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_u32property_test_suite

Test suite *std_u32property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_u8property_test_suite

Test suite *std_u8property_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wproperty_test_suite

Test suite *std_wproperty_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0
