---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2010 Express

# Summary

Test suites *AllTests* with 8 test cases was executed 2021-12-30 at 22:00:33 with result:

* 0 errors
* 0 failures

Test suites execution took 0.012 seconds.

# Details

## std_circular_buffer_test_suite

Test suite *std_circular_buffer_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_container_size_test_suite

Test suite *std_container_size_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_erase_iterator_test_suite

Test suite *std_erase_iterator_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_reverse_test_suite

Test suite *std_reverse_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp14_feature_not_supported | 0

## std_scope_guard_new_test_suite

Test suite *std_scope_guard_new_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard_new | 0

## std_scope_guard_test_suite

Test suite *std_scope_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard | 0

## std_try_move_iterator_backward_test_suite

Test suite *std_try_move_iterator_backward_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_value_guard_test_suite

Test suite *std_value_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_value_guard | 0
