---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2010 Express

# Summary

Test suites *AllTests* with 3 test cases was executed 2021-11-09 at 19:59:48 with result:

* 0 errors
* 0 failures

Test suites execution took 0.005 seconds.

# Details

## std_signals_string_placebo_lockable_test_suite

Test suite *std_signals_string_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_signals_string_test_suite

Test suite *std_signals_string_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0

## std_signals_wstring_test_suite

Test suite *std_signals_wstring_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
required_cpp11_feature_not_supported | 0
