---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2013 for Windows Desktop

# Summary

Test suites *AllTests* with 9 test cases was executed 2020-05-10 at 17:53:31 with result:

* 0 errors
* 0 failures

Test suites execution took 0.01 seconds.

# Details

## boost_placebo_lockable_test_suite

Test suite *boost_placebo_lockable_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_placebo_lockable | 0
test_placebo_lockable_scoped_lock | 0
test_placebo_lockable_two_threads | 0.001

## boost_recursive_spin_lock_test_suite

Test suite *boost_recursive_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_recursive_spin_lock | 0
test_recursive_spin_lock_lock_guard | 0
test_recursive_spin_lock_two_threads | 0

## boost_spin_lock_test_suite

Test suite *boost_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_spin_lock | 0
test_spin_lock_scoped_lock | 0
test_spin_lock_two_threads | 0.003
