---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2013 for Windows Desktop

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-05-07 at 19:31:03 with result:

* 0 errors
* 0 failures

Test suites execution took 0.815 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.813 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0.001
test_stopwatch_start_stop | 0.101
test_stopwatch_reset | 0.101
test_stopwatch_guard | 0.1
test_stopwatch_start_stop_five_times | 0.504
