---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2013 for Windows Desktop

# Summary

Test suites *AllTests* with 7 test cases was executed 2021-12-30 at 22:00:43 with result:

* 0 errors
* 0 failures

Test suites execution took 0.015 seconds.

# Details

## std_monitor_test_suite

Test suite *std_monitor_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_monitor | 0.004

## std_placebo_lockable_test_suite

Test suite *std_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_placebo_lockable | 0
test_placebo_lockable_lock_guard | 0

## std_recursive_spin_lock_test_suite

Test suite *std_recursive_spin_lock_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
test_recursive_spin_lock | 0.002
test_recursive_spin_lock_lock_guard | 0

## std_spin_lock_test_suite

Test suite *std_spin_lock_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_spin_lock | 0
test_spin_lock_lock_guard | 0
