---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2013 for Windows Desktop

# Summary

Test suites *AllTests* with 96 test cases was executed 2020-01-08 at 19:03:05 with result:

* 0 errors
* 0 failures

Test suites execution took 0.176 seconds.

# Details

## std_basic_command_execution_observer_test_suite

Test suite *std_basic_command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0.003
test_post_command | 0.001

## std_basic_command_manager_lambda_test_suite

Test suite *std_basic_command_manager_lambda_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.003
test_spaceship_observer | 0.006

## std_basic_command_manager_test_suite

Test suite *std_basic_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.002
test_spaceship_observer | 0.006

## std_basic_command_test_suite

Test suite *std_basic_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## std_basic_event_manager_test_suite

Test suite *std_basic_event_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.006

## std_basic_observable_array_test_suite

Test suite *std_basic_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_deque_test_suite

Test suite *std_basic_observable_deque_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_forward_list_test_suite

Test suite *std_basic_observable_forward_list_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_list_test_suite

Test suite *std_basic_observable_list_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_map_test_suite

Test suite *std_basic_observable_map_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_multimap_test_suite

Test suite *std_basic_observable_multimap_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_multiset_test_suite

Test suite *std_basic_observable_multiset_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_object_lambda_test_suite

Test suite *std_basic_observable_object_lambda_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_basic_observable_object_test_suite

Test suite *std_basic_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_basic_observable_set_test_suite

Test suite *std_basic_observable_set_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_unordered_map_test_suite

Test suite *std_basic_observable_unordered_map_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_unordered_multimap_test_suite

Test suite *std_basic_observable_unordered_multimap_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_unordered_multiset_test_suite

Test suite *std_basic_observable_unordered_multiset_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_unordered_set_test_suite

Test suite *std_basic_observable_unordered_set_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_observable_vector_test_suite

Test suite *std_basic_observable_vector_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_basic_relay_command_test_suite

Test suite *std_basic_relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## std_command_execution_observer_test_suite

Test suite *std_command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## std_command_manager_lambda_test_suite

Test suite *std_command_manager_lambda_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0.001

## std_command_manager_test_suite

Test suite *std_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_command_test_suite

Test suite *std_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0.001

## std_event_manager_test_suite

Test suite *std_event_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## std_observable_array_test_suite

Test suite *std_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_deque_test_suite

Test suite *std_observable_deque_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_forward_list_test_suite

Test suite *std_observable_forward_list_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_list_test_suite

Test suite *std_observable_list_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_map_test_suite

Test suite *std_observable_map_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_multimap_test_suite

Test suite *std_observable_multimap_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_multiset_test_suite

Test suite *std_observable_multiset_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_object_lambda_test_suite

Test suite *std_observable_object_lambda_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_object_test_suite

Test suite *std_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_set_test_suite

Test suite *std_observable_set_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_unordered_map_test_suite

Test suite *std_observable_unordered_map_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_unordered_multimap_test_suite

Test suite *std_observable_unordered_multimap_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_unordered_multiset_test_suite

Test suite *std_observable_unordered_multiset_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_unordered_set_test_suite

Test suite *std_observable_unordered_set_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_vector_test_suite

Test suite *std_observable_vector_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_command_execution_observer_placebo_lockable_test_suite

Test suite *std_command_execution_observer_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## std_command_manager_lambda_placebo_lockable_test_suite

Test suite *std_command_manager_lambda_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0.001

## std_command_manager_placebo_lockable_test_suite

Test suite *std_command_manager_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_command_placebo_lockable_test_suite

Test suite *std_command_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## std_event_manager_placebo_lockable_test_suite

Test suite *std_event_manager_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## std_observable_array_placebo_lockable_test_suite

Test suite *std_observable_array_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_deque_placebo_lockable_test_suite

Test suite *std_observable_deque_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_forward_list_placebo_lockable_test_suite

Test suite *std_observable_forward_list_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_list_placebo_lockable_test_suite

Test suite *std_observable_list_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_map_placebo_lockable_test_suite

Test suite *std_observable_map_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_multimap_placebo_lockable_test_suite

Test suite *std_observable_multimap_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_multiset_placebo_lockable_test_suite

Test suite *std_observable_multiset_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_object_lambda_placebo_lockable_test_suite

Test suite *std_observable_object_lambda_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_object_placebo_lockable_test_suite

Test suite *std_observable_object_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_set_placebo_lockable_test_suite

Test suite *std_observable_set_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_unordered_map_placebo_lockable_test_suite

Test suite *std_observable_unordered_map_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_unordered_multimap_placebo_lockable_test_suite

Test suite *std_observable_unordered_multimap_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_unordered_multiset_placebo_lockable_test_suite

Test suite *std_observable_unordered_multiset_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_unordered_set_placebo_lockable_test_suite

Test suite *std_observable_unordered_set_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_observable_vector_placebo_lockable_test_suite

Test suite *std_observable_vector_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_relay_command_placebo_lockable_test_suite

Test suite *std_relay_command_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## std_relay_command_test_suite

Test suite *std_relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## std_relay_wcommand_test_suite

Test suite *std_relay_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_wcommand | 0

## std_wcommand_execution_observer_test_suite

Test suite *std_wcommand_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_wcommand | 0
test_post_wcommand | 0

## std_wcommand_manager_lambda_test_suite

Test suite *std_wcommand_manager_lambda_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_wcommand_manager_test_suite

Test suite *std_wcommand_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_wcommand_test_suite

Test suite *std_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wcommand | 0

## std_wevent_manager_test_suite

Test suite *std_wevent_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## std_wobservable_array_test_suite

Test suite *std_wobservable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_deque_test_suite

Test suite *std_wobservable_deque_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_forward_list_test_suite

Test suite *std_wobservable_forward_list_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_list_test_suite

Test suite *std_wobservable_list_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_map_test_suite

Test suite *std_wobservable_map_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_multimap_test_suite

Test suite *std_wobservable_multimap_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_multiset_test_suite

Test suite *std_wobservable_multiset_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_object_lambda_test_suite

Test suite *std_wobservable_object_lambda_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_wobservable_object_test_suite

Test suite *std_wobservable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_wobservable_set_test_suite

Test suite *std_wobservable_set_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_unordered_map_test_suite

Test suite *std_wobservable_unordered_map_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_unordered_multimap_test_suite

Test suite *std_wobservable_unordered_multimap_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_unordered_multiset_test_suite

Test suite *std_wobservable_unordered_multiset_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_unordered_set_test_suite

Test suite *std_wobservable_unordered_set_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0

## std_wobservable_vector_test_suite

Test suite *std_wobservable_vector_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
cpp11_not_supported | 0
