---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2013 for Windows Desktop

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-10-01 at 16:41:49 with result:

* 0 errors
* 0 failures

Test suites execution took 0.883 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.879 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.115
test_stopwatch_reset | 0.107
test_stopwatch_guard | 0.107
test_stopwatch_start_stop_five_times | 0.543
