---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio Express 2013 for Windows Desktop

# Summary

Test suites *AllTests* with 5 test cases was executed 2020-07-21 at 17:06:52 with result:

* 0 errors
* 0 failures

Test suites execution took 0.864 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.862 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0.001
test_stopwatch_start_stop | 0.102
test_stopwatch_reset | 0.106
test_stopwatch_guard | 0.106
test_stopwatch_start_stop_five_times | 0.542
