---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20161025
* gcc (Rev2, Built by MSYS2 project) 7.3.0

# Summary

Test suites *AllTests* with 339 test cases was executed 2019-02-17 at 13:51:44 with result:

* 0 errors
* 0 failures

Test suites execution took 4.52 seconds.

# Details

## boost_windows_1252_test_suite

Test suite *boost_windows_1252_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.135 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_utf_16_character_count | 0
test_utf_32_character_count | 0
test_char_is_windows_1252_character | 0
test_char8_t_is_windows_1252_character | 0
test_wchar_t_is_windows_1252_character | 0
test_char2_t_is_windows_1252_character | 0
test_char16_t_is_windows_1252_character | 0
test_char32_t_is_windows_1252_character | 0

## boost_value_guard_test_suite

Test suite *boost_value_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_value_guard | 0

## boost_try_move_iterator_backward_test_suite

Test suite *boost_try_move_iterator_backward_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.151 seconds.

### Successful test cases

Test case|Execution time
-|-
test_try_move_backward_on_array | 0
test_try_move_backward_on_deque | 0
test_try_move_backward_on_list | 0
test_try_move_backward_on_vector | 0
test_try_move_backward_on_map | 0
test_try_move_backward_on_set | 0.001
test_try_move_backward_on_multimap | 0
test_try_move_backward_on_multiset | 0
test_try_move_backward_on_unordered_map | 0
test_try_move_backward_on_unordered_set | 0
test_try_move_backward_on_unordered_multimap | 0
test_try_move_backward_on_unordered_multiset | 0

## boost_string_cast_test_suite

Test suite *boost_string_cast_test_suite* with 81 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.913 seconds.

### Successful test cases

Test case|Execution time
-|-
test_char_size | 0
test_wchar_t_size | 0
test_char2_t_size | 0
test_char8_t_size | 0
test_char16_t_size | 0
test_char32_t_size | 0
test_multibyte_ascii_printable_characters | 0
test_multibyte_iso_8859_1_printable_characters | 0
test_cast_ascii_from_string_to_string | 0
test_cast_iso_8859_1_from_string_to_string | 0
test_cast_swedish_from_string_to_string | 0
test_cast_ascii_from_wstring_to_string | 0.012
test_cast_swedish_from_wstring_to_string | 0
test_cast_ascii_from_u2string_to_string | 0
test_cast_swedish_from_u2string_to_string | 0
test_cast_ascii_from_u8string_to_string | 0
test_cast_swedish_from_u8string_to_string | 0
test_cast_ascii_from_u16string_to_string | 0
test_cast_swedish_from_u16string_to_string | 0
test_cast_ascii_from_u32string_to_string | 0
test_cast_swedish_from_u32string_to_string | 0
test_cast_ascii_from_string_to_wstring | 0
test_cast_swedish_from_string_to_wstring | 0
test_cast_ascii_from_wstring_to_wstring | 0
test_cast_swedish_from_wstring_to_wstring | 0
test_cast_ascii_from_u2string_to_wstring | 0
test_cast_swedish_from_u2string_to_wstring | 0
test_cast_ascii_from_u8string_to_wstring | 0
test_cast_swedish_from_u8string_to_wstring | 0
test_cast_ascii_from_u16string_to_wstring | 0
test_cast_swedish_from_u16string_to_wstring | 0
test_cast_ascii_from_u32string_to_wstring | 0
test_cast_swedish_from_u32string_to_wstring | 0
test_cast_ascii_from_string_to_u2string | 0
test_cast_swedish_from_string_to_u2string | 0
test_cast_ascii_from_wstring_to_u2string | 0
test_cast_swedish_from_wstring_to_u2string | 0
test_cast_ascii_from_u2string_to_u2string | 0
test_cast_swedish_from_u2string_to_u2string | 0
test_cast_ascii_from_u8string_to_u2string | 0.001
test_cast_swedish_from_u8string_to_u2string | 0.001
test_cast_ascii_from_u16string_to_u2string | 0.001
test_cast_swedish_from_u16string_to_u2string | 0
test_cast_ascii_from_u32string_to_u2string | 0
test_cast_swedish_from_u32string_to_u2string | 0
test_cast_ascii_from_string_to_u8string | 0
test_cast_swedish_from_string_to_u8string | 0
test_cast_ascii_from_wstring_to_u8string | 0
test_cast_swedish_from_wstring_to_u8string | 0
test_cast_ascii_from_u2string_to_u8string | 0
test_cast_swedish_from_u2string_to_u8string | 0
test_cast_ascii_from_u8string_to_u8string | 0
test_cast_swedish_from_u8string_to_u8string | 0
test_cast_ascii_from_u16string_to_u8string | 0
test_cast_swedish_from_u16string_to_u8string | 0
test_cast_ascii_from_u32string_to_u8string | 0
test_cast_swedish_from_u32string_to_u8string | 0
test_cast_ascii_from_string_to_u16string | 0.001
test_cast_swedish_from_string_to_u16string | 0
test_cast_ascii_from_wstring_to_u16string | 0
test_cast_swedish_from_wstring_to_u16string | 0
test_cast_ascii_from_u2string_to_u16string | 0
test_cast_swedish_from_u2string_to_u16string | 0
test_cast_ascii_from_u8string_to_u16string | 0
test_cast_swedish_from_u8string_to_u16string | 0
test_cast_ascii_from_u16string_to_u16string | 0
test_cast_swedish_from_u16string_to_u16string | 0
test_cast_ascii_from_u32string_to_u16string | 0
test_cast_swedish_from_u32string_to_u16string | 0
test_cast_ascii_from_string_to_u32string | 0
test_cast_swedish_from_string_to_u32string | 0
test_cast_ascii_from_wstring_to_u32string | 0
test_cast_swedish_from_wstring_to_u32string | 0
test_cast_ascii_from_u2string_to_u32string | 0
test_cast_swedish_from_u2string_to_u32string | 0
test_cast_ascii_from_u8string_to_u32string | 0
test_cast_swedish_from_u8string_to_u32string | 0
test_cast_ascii_from_u16string_to_u32string | 0
test_cast_swedish_from_u16string_to_u32string | 0
test_cast_ascii_from_u32string_to_u32string | 0
test_cast_swedish_from_u32string_to_u32string | 0

## boost_spin_lock_test_suite

Test suite *boost_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.026 seconds.

### Successful test cases

Test case|Execution time
-|-
test_spin_lock | 0
test_spin_lock_scoped_lock | 0
test_spin_lock_two_threads | 0.001

## boost_scope_guard_test_suite

Test suite *boost_scope_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard | 0

## boost_scope_guard_new_test_suite

Test suite *boost_scope_guard_new_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard_new | 0

## boost_recursive_spin_lock_test_suite

Test suite *boost_recursive_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.032 seconds.

### Successful test cases

Test case|Execution time
-|-
test_recursive_spin_lock | 0
test_recursive_spin_lock_lock_guard | 0
test_recursive_spin_lock_two_threads | 0.001

## boost_primitive_type_specializer_test_suite

Test suite *boost_primitive_type_specializer_test_suite* with 128 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 2.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_explicit_integer_type_specializer | 0
test_integer_type_specializer_default_value | 0
test_integer_type_specializer_construction | 0
test_integer_type_specializer_get_set | 0
test_integer_type_specializer_simple_assignment_operator | 0
test_integer_type_specializer_addition_assignment_operator | 0
test_integer_type_specializer_subtraction_assignment_operator | 0
test_integer_type_specializer_multiplication_assignment_operator | 0
test_integer_type_specializer_division_assignment_operator | 0
test_integer_type_specializer_modulo_assignment_operator | 0
test_integer_type_specializer_bitwise_and_assignment_operator | 0
test_integer_type_specializer_bitwise_or_assignment_operator | 0
test_integer_type_specializer_bitwise_xor_assignment_operator | 0
test_integer_type_specializer_bitwise_left_shift_assignment_operator | 0
test_integer_type_specializer_bitwise_right_shift_assignment_operator | 0
test_integer_type_specializer_unary_plus_arithmetic_operator | 0
test_integer_type_specializer_unary_minus_arithmetic_operator | 0
test_integer_type_specializer_addition_arithmetic_operator | 0
test_integer_type_specializer_subtraction_arithmetic_operator | 0
test_integer_type_specializer_multiplication_arithmetic_operator | 0
test_integer_type_specializer_division_arithmetic_operator | 0
test_integer_type_specializer_modulo_arithmetic_operator | 0
test_integer_type_specializer_bitwise_not_arithmetic_operator | 0
test_integer_type_specializer_bitwise_and_arithmetic_operator | 0
test_integer_type_specializer_bitwise_or_arithmetic_operator | 0
test_integer_type_specializer_bitwise_xor_arithmetic_operator | 0
test_integer_type_specializer_bitwise_left_shift_arithmetic_operator | 0
test_integer_type_specializer_bitwise_right_shift_arithmetic_operator | 0
test_integer_type_specializer_equal_to_comparison_operator | 0
test_integer_type_specializer_not_equal_to_comparison_operator | 0
test_integer_type_specializer_less_than_comparison_operator | 0
test_integer_type_specializer_greater_than_comparison_operator | 0
test_integer_type_specializer_less_than_or_equal_to_comparison_operator | 0
test_integer_type_specializer_greater_than_or_equal_to_comparison_operator | 0
test_integer_type_specializer_pre_increment_operator | 0
test_integer_type_specializer_post_increment_operator | 0
test_integer_type_specializer_pre_decrement_operator | 0
test_integer_type_specializer_post_decrement_operator | 0
test_floating_point_type_specializer_default_value | 0
test_floating_point_type_specializer_construction | 0
test_floating_point_type_specializer_get_set | 0
test_floating_point_type_specializer_simple_assignment_operator | 0
test_floating_point_type_specializer_addition_assignment_operator | 0.001
test_floating_point_type_specializer_subtraction_assignment_operator | 0
test_floating_point_type_specializer_multiplication_assignment_operator | 0
test_floating_point_type_specializer_division_assignment_operator | 0
test_floating_point_type_specializer_modulo_assignment_operator | 0
test_floating_point_type_specializer_unary_plus_arithmetic_operator | 0
test_floating_point_type_specializer_unary_minus_arithmetic_operator | 0
test_floating_point_type_specializer_addition_arithmetic_operator | 0
test_floating_point_type_specializer_subtraction_arithmetic_operator | 0
test_floating_point_type_specializer_multiplication_arithmetic_operator | 0
test_floating_point_type_specializer_division_arithmetic_operator | 0
test_floating_point_type_specializer_modulo_arithmetic_operator | 0
test_floating_point_type_specializer_equal_to_comparison_operator | 0
test_floating_point_type_specializer_not_equal_to_comparison_operator | 0
test_floating_point_type_specializer_less_than_to_comparison_operator | 0
test_floating_point_type_specializer_greater_than_comparison_operator | 0
test_floating_point_type_specializer_less_than_or_equal_to_to_comparison_operator | 0
test_floating_point_type_specializer_greater_than_or_equal_to_comparison_operator | 0
test_floating_point_type_specializer_pre_increment_operator | 0
test_floating_point_type_specializer_post_increment_operator | 0.001
test_floating_point_type_specializer_pre_decrement_operator | 0
test_floating_point_type_specializer_post_decrement_operator | 0
test_implicit_integer_type_specializer | 0
test_implicit_integer_type_specializer_default_value | 0
test_implicit_integer_type_specializer_construction | 0
test_implicit_integer_type_specializer_get_set | 0
test_implicit_integer_type_specializer_simple_assignment_operator | 0
test_implicit_integer_type_specializer_addition_assignment_operator | 0
test_implicit_integer_type_specializer_subtraction_assignment_operator | 0
test_implicit_integer_type_specializer_multiplication_assignment_operator | 0
test_implicit_integer_type_specializer_division_assignment_operator | 0
test_implicit_integer_type_specializer_modulo_assignment_operator | 0
test_implicit_integer_type_specializer_bitwise_and_assignment_operator | 0
test_implicit_integer_type_specializer_bitwise_or_assignment_operator | 0
test_implicit_integer_type_specializer_bitwise_xor_assignment_operator | 0
test_implicit_integer_type_specializer_bitwise_left_shift_assignment_operator | 0
test_implicit_integer_type_specializer_bitwise_right_shift_assignment_operator | 0
test_implicit_integer_type_specializer_unary_plus_arithmetic_operator | 0
test_implicit_integer_type_specializer_unary_minus_arithmetic_operator | 0
test_implicit_integer_type_specializer_addition_arithmetic_operator | 0
test_implicit_integer_type_specializer_subtraction_arithmetic_operator | 0
test_implicit_integer_type_specializer_multiplication_arithmetic_operator | 0
test_implicit_integer_type_specializer_division_arithmetic_operator | 0
test_implicit_integer_type_specializer_modulo_arithmetic_operator | 0.001
test_implicit_integer_type_specializer_bitwise_not_arithmetic_operator | 0
test_implicit_integer_type_specializer_bitwise_and_arithmetic_operator | 0
test_implicit_integer_type_specializer_bitwise_or_arithmetic_operator | 0
test_implicit_integer_type_specializer_bitwise_xor_arithmetic_operator | 0
test_implicit_integer_type_specializer_bitwise_left_shift_arithmetic_operator | 0
test_implicit_integer_type_specializer_bitwise_right_shift_arithmetic_operator | 0
test_implicit_integer_type_specializer_equal_to_comparison_operator | 0
test_implicit_integer_type_specializer_not_equal_to_comparison_operator | 0
test_implicit_integer_type_specializer_less_than_comparison_operator | 0
test_implicit_integer_type_specializer_greater_than_comparison_operator | 0
test_implicit_integer_type_specializer_less_than_or_equal_to_comparison_operator | 0
test_implicit_integer_type_specializer_greater_than_or_equal_to_comparison_operator | 0
test_implicit_integer_type_specializer_pre_increment_operator | 0
test_implicit_integer_type_specializer_post_increment_operator | 0
test_implicit_integer_type_specializer_pre_decrement_operator | 0
test_implicit_integer_type_specializer_post_decrement_operator | 0
test_implicit_floating_point_type_specializer_default_value | 0
test_implicit_floating_point_type_specializer_construction | 0
test_implicit_floating_point_type_specializer_get_set | 0
test_implicit_floating_point_type_specializer_simple_assignment_operator | 0
test_implicit_floating_point_type_specializer_addition_assignment_operator | 0
test_implicit_floating_point_type_specializer_subtraction_assignment_operator | 0
test_implicit_floating_point_type_specializer_multiplication_assignment_operator | 0
test_implicit_floating_point_type_specializer_division_assignment_operator | 0
test_implicit_floating_point_type_specializer_modulo_assignment_operator | 0
test_implicit_floating_point_type_specializer_unary_plus_arithmetic_operator | 0.001
test_implicit_floating_point_type_specializer_unary_minus_arithmetic_operator | 0
test_implicit_floating_point_type_specializer_addition_arithmetic_operator | 0
test_implicit_floating_point_type_specializer_subtraction_arithmetic_operator | 0
test_implicit_floating_point_type_specializer_multiplication_arithmetic_operator | 0
test_implicit_floating_point_type_specializer_division_arithmetic_operator | 0
test_implicit_floating_point_type_specializer_modulo_arithmetic_operator | 0.001
test_implicit_floating_point_type_specializer_equal_to_comparison_operator | 0
test_implicit_floating_point_type_specializer_not_equal_to_comparison_operator | 0
test_implicit_floating_point_type_specializer_less_than_to_comparison_operator | 0
test_implicit_floating_point_type_specializer_greater_than_comparison_operator | 0
test_implicit_floating_point_type_specializer_less_than_or_equal_to_to_comparison_operator | 0
test_implicit_floating_point_type_specializer_greater_than_or_equal_to_comparison_operator | 0
test_implicit_floating_point_type_specializer_pre_increment_operator | 0
test_implicit_floating_point_type_specializer_post_increment_operator | 0
test_implicit_floating_point_type_specializer_pre_decrement_operator | 0
test_implicit_floating_point_type_specializer_post_decrement_operator | 0

## boost_placebo_lockable_test_suite

Test suite *boost_placebo_lockable_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.032 seconds.

### Successful test cases

Test case|Execution time
-|-
test_placebo_lockable | 0
test_placebo_lockable_scoped_lock | 0
test_placebo_lockable_two_threads | 0.001

## boost_iso_8859_1_test_suite

Test suite *boost_iso_8859_1_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.125 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_utf_16_character_count | 0
test_utf_32_character_count | 0
test_char_is_iso_8859_1_character | 0
test_char8_t_is_iso_8859_1_character | 0
test_wchar_t_is_iso_8859_1_character | 0
test_char2_t_is_iso_8859_1_character | 0
test_char16_t_is_iso_8859_1_character | 0
test_char32_t_is_iso_8859_1_character | 0

## boost_erase_iterator_test_suite

Test suite *boost_erase_iterator_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.051 seconds.

### Successful test cases

Test case|Execution time
-|-
test_erase_iterator_on_deque | 0
test_erase_iterator_on_list | 0
test_erase_iterator_on_vector | 0
test_erase_iterator_on_map | 0
test_erase_iterator_on_set | 0

## boost_create_string_test_suite

Test suite *boost_create_string_test_suite* with 36 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.39 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_string_from_char | 0
test_create_string_from_wchar_t | 0
test_create_string_from_char2_t | 0
test_create_string_from_char8_t | 0
test_create_string_from_char16_t | 0
test_create_string_from_char32_t | 0
test_create_wstring_from_char | 0
test_create_wstring_from_wchar_t | 0
test_create_wstring_from_char2_t | 0
test_create_wstring_from_char8_t | 0
test_create_wstring_from_char16_t | 0
test_create_wstring_from_char32_t | 0
test_create_u2string_from_char | 0.001
test_create_u2string_from_wchar_t | 0
test_create_u2string_from_char2_t | 0
test_create_u2string_from_char8_t | 0.001
test_create_u2string_from_char16_t | 0
test_create_u2string_from_char32_t | 0
test_create_u8string_from_char | 0
test_create_u8string_from_wchar_t | 0
test_create_u8string_from_char2_t | 0
test_create_u8string_from_char8_t | 0
test_create_u8string_from_char16_t | 0
test_create_u8string_from_char32_t | 0
test_create_u16string_from_char | 0
test_create_u16string_from_wchar_t | 0
test_create_u16string_from_char2_t | 0
test_create_u16string_from_char8_t | 0
test_create_u16string_from_char16_t | 0
test_create_u16string_from_char32_t | 0
test_create_u32string_from_char | 0
test_create_u32string_from_wchar_t | 0
test_create_u32string_from_char2_t | 0
test_create_u32string_from_char8_t | 0
test_create_u32string_from_char16_t | 0
test_create_u32string_from_char32_t | 0

## boost_container_size_test_suite

Test suite *boost_container_size_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.046 seconds.

### Successful test cases

Test case|Execution time
-|-
test_size_on_deque | 0
test_size_on_list | 0
test_size_on_vector | 0
test_size_on_map | 0
test_size_on_set | 0

## boost_ascii_test_suite

Test suite *boost_ascii_test_suite* with 36 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.425 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_utf_16_character_count | 0
test_utf_32_character_count | 0
test_char_is_7_bit_ascii_character | 0
test_char8_t_is_7_bit_ascii_character | 0
test_wchar_t_is_7_bit_ascii_character | 0
test_char2_t_is_7_bit_ascii_character | 0
test_char16_t_is_7_bit_ascii_character | 0
test_char32_t_is_7_bit_ascii_character | 0
test_multibyte_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_system_wide_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_ucs_2_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_utf_8_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_utf_16_reduce_iso_8859_1_to_7_bit_ascii_characters | 0.001
test_utf_32_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_multibyte_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0.001
test_system_wide_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_ucs_2_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_utf_8_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_utf_16_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_utf_32_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_multibyte_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_system_wide_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_ucs_2_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_utf_8_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_utf_16_reduce_windows_1252_to_7_bit_ascii_characters | 0.001
test_utf_32_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_multibyte_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_system_wide_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_ucs_2_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0.001
test_utf_8_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_utf_16_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_utf_32_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
