---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20200720
* gcc (Rev2, Built by MSYS2 project) 9.3.0

# Summary

Test suites *AllTests* with 680 test cases was executed 2021-11-09 at 19:59:08.804 with result:

* 0 errors
* 0 failures

Test suites execution took 8.518 seconds.

# Details

## boost_wobservable_vector_test_suite

Test suite *boost_wobservable_vector_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.368 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.21
test_assign_initializer_list | 0.009
test_assign_fill | 0
test_push_back | 0.007
test_pop_back | 0.01
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0.015
test_clear | 0.009

## boost_wobservable_unordered_set_test_suite

Test suite *boost_wobservable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.254 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.1
test_insert_single_element_with_hint | 0.008
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.034
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_unordered_multiset_test_suite

Test suite *boost_wobservable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.207 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.053
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0.004
test_erase_position | 0
test_erase_value | 0.014
test_erase_range | 0.021
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_unordered_multimap_test_suite

Test suite *boost_wobservable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.148 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.006
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0.013
test_swap | 0
test_clear | 0
test_emplace | 0.013
test_emplace_hint | 0

## boost_wobservable_unordered_map_test_suite

Test suite *boost_wobservable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.11 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_set_test_suite

Test suite *boost_wobservable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.165 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.054
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.003
test_erase_range | 0
test_swap | 0
test_clear | 0.004
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_object_test_suite

Test suite *boost_wobservable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.06 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wobservable_object | 0.051

## boost_wobservable_object_phoenix_test_suite

Test suite *boost_wobservable_object_phoenix_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.023 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wobservable_object | 0.013

## boost_wobservable_multiset_test_suite

Test suite *boost_wobservable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.186 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.048
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.003
test_erase_range | 0
test_swap | 0.017
test_clear | 0.009
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_multimap_test_suite

Test suite *boost_wobservable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.131 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.01
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.003
test_erase_range | 0.01
test_swap | 0
test_clear | 0.006
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_map_test_suite

Test suite *boost_wobservable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.106 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.012

## boost_wobservable_list_test_suite

Test suite *boost_wobservable_list_test_suite* with 23 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.322 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.053
test_assign_initializer_list | 0.002
test_assign_fill | 0
test_push_back | 0.007
test_push_front | 0
test_pop_back | 0.013
test_pop_front | 0.008
test_insert_single_element | 0.007
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0.016
test_clear | 0.01
test_splice_entire_container | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_wobservable_forward_list_test_suite

Test suite *boost_wobservable_forward_list_test_suite* with 21 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.211 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_after_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_after_entire_container | 0
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0.001
test_merge | 0
test_merge_compare_predicate | 0

## boost_wobservable_deque_test_suite

Test suite *boost_wobservable_deque_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.12 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_wobservable_array_test_suite

Test suite *boost_wobservable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## boost_wevent_manager_test_suite

Test suite *boost_wevent_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001

## boost_wcommand_test_suite

Test suite *boost_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wcommand | 0

## boost_wcommand_manager_test_suite

Test suite *boost_wcommand_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.02 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## boost_wcommand_manager_phoenix_test_suite

Test suite *boost_wcommand_manager_phoenix_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.02 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wcommand_manager | 0
test_spaceship_observer | 0

## boost_wcommand_execution_observer_test_suite

Test suite *boost_wcommand_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.029 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_wcommand | 0.009
test_post_wcommand | 0

## boost_relay_wcommand_test_suite

Test suite *boost_relay_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_wcommand | 0

## boost_relay_command_test_suite

Test suite *boost_relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## boost_relay_command_placebo_lockable_test_suite

Test suite *boost_relay_command_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## boost_observable_vector_placebo_lockable_test_suite

Test suite *boost_observable_vector_placebo_lockable_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.12 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_observable_unordered_set_placebo_lockable_test_suite

Test suite *boost_observable_unordered_set_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.14 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.006
test_insert_single_element_with_hint | 0
test_insert_range | 0.007
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_multiset_placebo_lockable_test_suite

Test suite *boost_observable_unordered_multiset_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.134 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_multimap_placebo_lockable_test_suite

Test suite *boost_observable_unordered_multimap_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.129 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_map_placebo_lockable_test_suite

Test suite *boost_observable_unordered_map_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.127 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_set_placebo_lockable_test_suite

Test suite *boost_observable_set_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.13 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.015
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_object_placebo_lockable_test_suite

Test suite *boost_observable_object_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_observable_object_phoenix_placebo_lockable_test_suite

Test suite *boost_observable_object_phoenix_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.013 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_observable_multiset_placebo_lockable_test_suite

Test suite *boost_observable_multiset_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.129 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.008
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_multimap_placebo_lockable_test_suite

Test suite *boost_observable_multimap_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.124 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_map_placebo_lockable_test_suite

Test suite *boost_observable_map_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.114 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_list_placebo_lockable_test_suite

Test suite *boost_observable_list_placebo_lockable_test_suite* with 23 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.293 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0.01
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0.01
test_splice_entire_container | 0
test_splice_single_element | 0
test_splice_element_range | 0.008
test_remove | 0.01
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0.002
test_merge_compare_predicate | 0

## boost_observable_forward_list_placebo_lockable_test_suite

Test suite *boost_observable_forward_list_placebo_lockable_test_suite* with 21 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.249 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.003
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_after_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_after_entire_container | 0
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_observable_deque_placebo_lockable_test_suite

Test suite *boost_observable_deque_placebo_lockable_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.141 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_observable_array_placebo_lockable_test_suite

Test suite *boost_observable_array_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## boost_event_manager_placebo_lockable_test_suite

Test suite *boost_event_manager_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## boost_command_placebo_lockable_test_suite

Test suite *boost_command_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## boost_command_manager_placebo_lockable_test_suite

Test suite *boost_command_manager_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.024 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## boost_command_manager_phoenix_placebo_lockable_test_suite

Test suite *boost_command_manager_phoenix_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.023 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## boost_command_execution_observer_placebo_lockable_test_suite

Test suite *boost_command_execution_observer_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## boost_observable_vector_test_suite

Test suite *boost_observable_vector_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.098 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_observable_unordered_set_test_suite

Test suite *boost_observable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.1 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_multiset_test_suite

Test suite *boost_observable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.154 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.042
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_multimap_test_suite

Test suite *boost_observable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.108 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_map_test_suite

Test suite *boost_observable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.097 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_set_test_suite

Test suite *boost_observable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.092 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_object_test_suite

Test suite *boost_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_observable_object_phoenix_test_suite

Test suite *boost_observable_object_phoenix_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_observable_multiset_test_suite

Test suite *boost_observable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.095 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_multimap_test_suite

Test suite *boost_observable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.101 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_map_test_suite

Test suite *boost_observable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.093 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_list_test_suite

Test suite *boost_observable_list_test_suite* with 23 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.188 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_entire_container | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_observable_forward_list_test_suite

Test suite *boost_observable_forward_list_test_suite* with 21 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.198 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_after_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_after_entire_container | 0
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_observable_deque_test_suite

Test suite *boost_observable_deque_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.117 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_observable_array_test_suite

Test suite *boost_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## boost_event_manager_test_suite

Test suite *boost_event_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## boost_command_test_suite

Test suite *boost_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.006 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## boost_command_manager_test_suite

Test suite *boost_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.017 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## boost_command_manager_phoenix_test_suite

Test suite *boost_command_manager_phoenix_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.02 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## boost_command_execution_observer_test_suite

Test suite *boost_command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## boost_basic_relay_command_test_suite

Test suite *boost_basic_relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## boost_basic_observable_vector_test_suite

Test suite *boost_basic_observable_vector_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.111 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_basic_observable_unordered_set_test_suite

Test suite *boost_basic_observable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.113 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_unordered_multiset_test_suite

Test suite *boost_basic_observable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.116 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_unordered_multimap_test_suite

Test suite *boost_basic_observable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.122 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_unordered_map_test_suite

Test suite *boost_basic_observable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.115 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_set_test_suite

Test suite *boost_basic_observable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.099 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_object_test_suite

Test suite *boost_basic_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_basic_observable_object_phoenix_test_suite

Test suite *boost_basic_observable_object_phoenix_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_basic_observable_multiset_test_suite

Test suite *boost_basic_observable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.105 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_multimap_test_suite

Test suite *boost_basic_observable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.102 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_map_test_suite

Test suite *boost_basic_observable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.094 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_list_test_suite

Test suite *boost_basic_observable_list_test_suite* with 23 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.205 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_entire_container | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_basic_observable_forward_list_test_suite

Test suite *boost_basic_observable_forward_list_test_suite* with 21 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.214 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_after_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_after_entire_container | 0
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_basic_observable_deque_test_suite

Test suite *boost_basic_observable_deque_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.13 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_basic_observable_array_test_suite

Test suite *boost_basic_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## boost_basic_event_manager_test_suite

Test suite *boost_basic_event_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## boost_basic_command_test_suite

Test suite *boost_basic_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## boost_basic_command_manager_test_suite

Test suite *boost_basic_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.019 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## boost_basic_command_manager_phoenix_test_suite

Test suite *boost_basic_command_manager_phoenix_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.019 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## boost_basic_command_execution_observer_test_suite

Test suite *boost_basic_command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.069 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0.047
