---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20161025
* gcc (Rev2, Built by MSYS2 project) 7.3.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-08-22 at 16:43:35 with result:

* 0 errors
* 0 failures

Test suites execution took 0.88 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.852 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0.001
test_stopwatch_start_stop | 0.103
test_stopwatch_reset | 0.101
test_stopwatch_guard | 0.102
test_stopwatch_start_stop_five_times | 0.504
