---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20161025
* gcc (Rev2, Built by MSYS2 project) 7.3.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2020-07-21 at 17:06:11 with result:

* 0 errors
* 0 failures

Test suites execution took 0.949 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.93 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.109
test_stopwatch_reset | 0.115
test_stopwatch_guard | 0.115
test_stopwatch_start_stop_five_times | 0.548
