---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20161025
* gcc (Rev2, Built by MSYS2 project) 7.3.0

# Summary

Test suites *AllTests* with 680 test cases was executed 2019-02-17 at 13:51:34 with result:

* 0 errors
* 0 failures

Test suites execution took 8.734 seconds.

# Details

## boost_wobservable_vector_test_suite

Test suite *boost_wobservable_vector_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.126 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.001
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0.001
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0.001
test_swap | 0
test_clear | 0

## boost_wobservable_unordered_set_test_suite

Test suite *boost_wobservable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.134 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## boost_wobservable_unordered_multiset_test_suite

Test suite *boost_wobservable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.133 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_unordered_multimap_test_suite

Test suite *boost_wobservable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.138 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## boost_wobservable_unordered_map_test_suite

Test suite *boost_wobservable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.143 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## boost_wobservable_set_test_suite

Test suite *boost_wobservable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.124 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_object_test_suite

Test suite *boost_wobservable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wobservable_object | 0.001

## boost_wobservable_object_phoenix_test_suite

Test suite *boost_wobservable_object_phoenix_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wobservable_object | 0.001

## boost_wobservable_multiset_test_suite

Test suite *boost_wobservable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.121 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_multimap_test_suite

Test suite *boost_wobservable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.121 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_map_test_suite

Test suite *boost_wobservable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.117 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_wobservable_list_test_suite

Test suite *boost_wobservable_list_test_suite* with 23 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.229 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.001
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0.001
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_entire_list | 0.001
test_splice_single_element | 0
test_splice_element_range | 0.001
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0.001
test_merge_compare_predicate | 0

## boost_wobservable_forward_list_test_suite

Test suite *boost_wobservable_forward_list_test_suite* with 21 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.235 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0.001
test_assign_fill | 0
test_push_front | 0.001
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0.001
test_erase_position | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_splice_entire_forward_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0.001

## boost_wobservable_deque_test_suite

Test suite *boost_wobservable_deque_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.146 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0.001
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0.001
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0.001

## boost_wobservable_array_test_suite

Test suite *boost_wobservable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## boost_event_manager_test_suite

Test suite *boost_event_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.022 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001
test_command_manager | 0

## boost_wcommand_test_suite

Test suite *boost_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wcommand | 0.001

## boost_wcommand_manager_test_suite

Test suite *boost_wcommand_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wcommand_manager | 0.001
test_spaceship_observer | 0

## boost_wcommand_manager_phoenix_test_suite

Test suite *boost_wcommand_manager_phoenix_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wcommand_manager | 0.001
test_spaceship_observer | 0

## boost_wcommand_execution_observer_test_suite

Test suite *boost_wcommand_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.024 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_wcommand | 0.001
test_post_wcommand | 0

## boost_relay_wcommand_test_suite

Test suite *boost_relay_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_wcommand | 0

## boost_relay_command_test_suite

Test suite *boost_relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## boost_relay_command_placebo_lockable_test_suite

Test suite *boost_relay_command_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## boost_observable_vector_placebo_lockable_test_suite

Test suite *boost_observable_vector_placebo_lockable_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.142 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_observable_unordered_set_placebo_lockable_test_suite

Test suite *boost_observable_unordered_set_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.142 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0.001
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0.001
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_multiset_placebo_lockable_test_suite

Test suite *boost_observable_unordered_multiset_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.149 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## boost_observable_unordered_multimap_placebo_lockable_test_suite

Test suite *boost_observable_unordered_multimap_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.149 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0.001
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_map_placebo_lockable_test_suite

Test suite *boost_observable_unordered_map_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.146 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0.001
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## boost_observable_set_placebo_lockable_test_suite

Test suite *boost_observable_set_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.133 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## boost_observable_object_placebo_lockable_test_suite

Test suite *boost_observable_object_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_observable_object_phoenix_placebo_lockable_test_suite

Test suite *boost_observable_object_phoenix_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.014 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_observable_multiset_placebo_lockable_test_suite

Test suite *boost_observable_multiset_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.14 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_multimap_placebo_lockable_test_suite

Test suite *boost_observable_multimap_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.139 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0.001
test_emplace | 0
test_emplace_hint | 0.001

## boost_observable_map_placebo_lockable_test_suite

Test suite *boost_observable_map_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.133 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0.001
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_list_placebo_lockable_test_suite

Test suite *boost_observable_list_placebo_lockable_test_suite* with 23 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.273 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0.001
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0.001
test_splice_entire_list | 0.001
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_observable_forward_list_placebo_lockable_test_suite

Test suite *boost_observable_forward_list_placebo_lockable_test_suite* with 21 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.273 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_entire_forward_list | 0
test_splice_single_element | 0
test_splice_element_range | 0.001
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_observable_deque_placebo_lockable_test_suite

Test suite *boost_observable_deque_placebo_lockable_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.16 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0.001
test_swap | 0
test_clear | 0

## boost_observable_array_placebo_lockable_test_suite

Test suite *boost_observable_array_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## boost_event_manager_placebo_lockable_test_suite

Test suite *boost_event_manager_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## boost_command_placebo_lockable_test_suite

Test suite *boost_command_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.013 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## boost_command_manager_placebo_lockable_test_suite

Test suite *boost_command_manager_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.023 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001
test_spaceship_observer | 0

## boost_command_manager_phoenix_placebo_lockable_test_suite

Test suite *boost_command_manager_phoenix_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.026 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001
test_spaceship_observer | 0

## boost_command_execution_observer_placebo_lockable_test_suite

Test suite *boost_command_execution_observer_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.027 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## boost_observable_vector_test_suite

Test suite *boost_observable_vector_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.126 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0.001
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_observable_unordered_set_test_suite

Test suite *boost_observable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.124 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## boost_observable_unordered_multiset_test_suite

Test suite *boost_observable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.133 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0.001
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## boost_observable_unordered_multimap_test_suite

Test suite *boost_observable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.125 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0.001
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_observable_unordered_map_test_suite

Test suite *boost_observable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.123 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## boost_observable_set_test_suite

Test suite *boost_observable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.101 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0.001
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0.001
test_emplace | 0.001
test_emplace_hint | 0

## boost_observable_object_test_suite

Test suite *boost_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_observable_object_phoenix_test_suite

Test suite *boost_observable_object_phoenix_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_observable_multiset_test_suite

Test suite *boost_observable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.115 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## boost_observable_multimap_test_suite

Test suite *boost_observable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.115 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0.001
test_erase_position | 0.001
test_erase_value | 0
test_erase_range | 0.001
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## boost_observable_map_test_suite

Test suite *boost_observable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.111 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0.001
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## boost_observable_list_test_suite

Test suite *boost_observable_list_test_suite* with 23 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.233 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0.001
test_push_back | 0.001
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0.001
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0.001
test_splice_entire_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_observable_forward_list_test_suite

Test suite *boost_observable_forward_list_test_suite* with 21 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.238 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0.001
test_erase_position | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_splice_entire_forward_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0.001
test_remove_if | 0
test_unique | 0.001
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_observable_deque_test_suite

Test suite *boost_observable_deque_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.124 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0.001
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0.001
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_observable_array_test_suite

Test suite *boost_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## boost_command_test_suite

Test suite *boost_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## boost_command_manager_test_suite

Test suite *boost_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001
test_spaceship_observer | 0.001

## boost_command_manager_phoenix_test_suite

Test suite *boost_command_manager_phoenix_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.023 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## boost_command_execution_observer_test_suite

Test suite *boost_command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## boost_basic_relay_command_test_suite

Test suite *boost_basic_relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## boost_basic_observable_vector_test_suite

Test suite *boost_basic_observable_vector_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.13 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.001
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0.001
test_pop_back | 0
test_insert_single_element | 0.001
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_basic_observable_unordered_set_test_suite

Test suite *boost_basic_observable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.127 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_unordered_multiset_test_suite

Test suite *boost_basic_observable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.136 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0.001
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_unordered_multimap_test_suite

Test suite *boost_basic_observable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.138 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0.001
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## boost_basic_observable_unordered_map_test_suite

Test suite *boost_basic_observable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.127 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0.001
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_set_test_suite

Test suite *boost_basic_observable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.103 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## boost_basic_observable_object_test_suite

Test suite *boost_basic_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_basic_observable_object_phoenix_test_suite

Test suite *boost_basic_observable_object_phoenix_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## boost_basic_observable_multiset_test_suite

Test suite *boost_basic_observable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.123 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0.001
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_multimap_test_suite

Test suite *boost_basic_observable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.124 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0.001
test_emplace | 0.001
test_emplace_hint | 0

## boost_basic_observable_map_test_suite

Test suite *boost_basic_observable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.115 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0.001
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0.001
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## boost_basic_observable_list_test_suite

Test suite *boost_basic_observable_list_test_suite* with 23 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.248 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.001
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0.001
test_erase_range | 0
test_swap | 0
test_clear | 0
test_splice_entire_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0.001
test_merge_compare_predicate | 0

## boost_basic_observable_forward_list_test_suite

Test suite *boost_basic_observable_forward_list_test_suite* with 21 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.239 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_position | 0
test_erase_range | 0.001
test_swap | 0.001
test_clear | 0
test_splice_entire_forward_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0.001
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## boost_basic_observable_deque_test_suite

Test suite *boost_basic_observable_deque_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.145 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0.001
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0

## boost_basic_observable_array_test_suite

Test suite *boost_basic_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## boost_basic_event_manager_test_suite

Test suite *boost_basic_event_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## boost_basic_command_test_suite

Test suite *boost_basic_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0.001

## boost_basic_command_manager_test_suite

Test suite *boost_basic_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.022 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001
test_spaceship_observer | 0

## boost_basic_command_manager_phoenix_test_suite

Test suite *boost_basic_command_manager_phoenix_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.023 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0.001

## boost_basic_command_execution_observer_test_suite

Test suite *boost_basic_command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.023 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0
