---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20200720
* gcc (Rev2, Built by MSYS2 project) 9.3.0

# Summary

Test suites *AllTests* with 9 test cases was executed 2021-10-01 at 16:41:07.272 with result:

* 0 errors
* 0 failures

Test suites execution took 0.131 seconds.

# Details

## boost_spin_lock_test_suite

Test suite *boost_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.03 seconds.

### Successful test cases

Test case|Execution time
-|-
test_spin_lock | 0
test_spin_lock_scoped_lock | 0
test_spin_lock_two_threads | 0

## boost_recursive_spin_lock_test_suite

Test suite *boost_recursive_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.033 seconds.

### Successful test cases

Test case|Execution time
-|-
test_recursive_spin_lock | 0
test_recursive_spin_lock_lock_guard | 0
test_recursive_spin_lock_two_threads | 0

## boost_placebo_lockable_test_suite

Test suite *boost_placebo_lockable_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.031 seconds.

### Successful test cases

Test case|Execution time
-|-
test_placebo_lockable | 0
test_placebo_lockable_scoped_lock | 0
test_placebo_lockable_two_threads | 0
