---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20200720
* gcc (Rev2, Built by MSYS2 project) 9.3.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-12-30 at 21:59:51.828 with result:

* 0 errors
* 0 failures

Test suites execution took 0.921 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.904 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.102
test_stopwatch_reset | 0.099
test_stopwatch_guard | 0.1
test_stopwatch_start_stop_five_times | 0.55
