---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20200720
* gcc (Rev2, Built by MSYS2 project) 9.3.0

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-11-09 at 19:59:23.723 with result:

* 0 errors
* 0 failures

Test suites execution took 0.955 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.94 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.118
test_stopwatch_reset | 0.115
test_stopwatch_guard | 0.117
test_stopwatch_start_stop_five_times | 0.545
