---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20161025
* gcc (Rev2, Built by MSYS2 project) 7.3.0

# Summary

Test suites *AllTests* with 6 test cases was executed 2020-01-02 at 15:56:04 with result:

* 0 errors
* 0 failures

Test suites execution took 0.085 seconds.

# Details

## std_exception_test_suite

Test suite *std_exception_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.064 seconds.

### Successful test cases

Test case|Execution time
-|-
test_catch_go_exception | 0
test_catch_go_exception_as_std_exception | 0.001
test_catch_derived_exception | 0
test_catch_derived_exception_as_go_exception | 0
test_catch_derived_exception_as_std_exception | 0
test_catch_other_exception | 0
