---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20161025
* gcc (Rev2, Built by MSYS2 project) 7.3.0

# Summary

Test suites *AllTests* with 72 test cases was executed 2019-03-25 at 21:01:19 with result:

* 0 errors
* 0 failures

Test suites execution took 0.845 seconds.

# Details

## std_wproperty_test_suite

Test suite *std_wproperty_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.087 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u8property_test_suite

Test suite *std_u8property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.088 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_u32property_test_suite

Test suite *std_u32property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.092 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0.001
write_only_proxy_properties | 0

## std_u16property_test_suite

Test suite *std_u16property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.095 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_property_test_suite

Test suite *std_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.085 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0.001
write_only_reference_properties | 0.001
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_property_placebo_lockable_test_suite

Test suite *std_property_placebo_lockable_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.102 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_nameless_property_placebo_lockable_test_suite

Test suite *std_nameless_property_placebo_lockable_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.107 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0.001
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0.001
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## std_nameless_property_test_suite

Test suite *std_nameless_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.097 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0.001
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0.001
read_only_proxy_properties | 0
write_only_proxy_properties | 0
