---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20161025
* gcc (Rev2, Built by MSYS2 project) 7.3.0

# Summary

Test suites *AllTests* with 724 test cases was executed 2019-03-25 at 21:01:11 with result:

* 0 errors
* 0 failures

Test suites execution took 8.213 seconds.

# Details

## std_wobservable_vector_test_suite

Test suite *std_wobservable_vector_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.128 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.001
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_back | 0.001

## std_wobservable_unordered_set_test_suite

Test suite *std_wobservable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.112 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_unordered_multiset_test_suite

Test suite *std_wobservable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.116 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_unordered_multimap_test_suite

Test suite *std_wobservable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.118 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_unordered_map_test_suite

Test suite *std_wobservable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.115 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_set_test_suite

Test suite *std_wobservable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.1 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_object_test_suite

Test suite *std_wobservable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_wobservable_object_lambda_test_suite

Test suite *std_wobservable_object_lambda_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_wobservable_multiset_test_suite

Test suite *std_wobservable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.106 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_multimap_test_suite

Test suite *std_wobservable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.107 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0.001
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_map_test_suite

Test suite *std_wobservable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.101 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0.001
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_list_test_suite

Test suite *std_wobservable_list_test_suite* with 26 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.237 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_entire_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_wobservable_forward_list_test_suite

Test suite *std_wobservable_forward_list_test_suite* with 24 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.241 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace_after | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_after_entire_forward_list | 0
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0.001
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_wobservable_deque_test_suite

Test suite *std_wobservable_deque_test_suite* with 17 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.153 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0.001
test_emplace_back | 0
test_emplace_front | 0

## std_wobservable_array_test_suite

Test suite *std_wobservable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## std_wevent_manager_test_suite

Test suite *std_wevent_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.013 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## std_wcommand_test_suite

Test suite *std_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wcommand | 0

## std_wcommand_manager_test_suite

Test suite *std_wcommand_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_wcommand_manager_lambda_test_suite

Test suite *std_wcommand_manager_lambda_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_wcommand_execution_observer_test_suite

Test suite *std_wcommand_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_wcommand | 0
test_post_wcommand | 0

## std_relay_wcommand_test_suite

Test suite *std_relay_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_wcommand | 0

## std_relay_command_test_suite

Test suite *std_relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0.001

## std_relay_command_placebo_lockable_test_suite

Test suite *std_relay_command_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## std_observable_vector_placebo_lockable_test_suite

Test suite *std_observable_vector_placebo_lockable_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.146 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0.001
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0.001
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0

## std_observable_unordered_set_placebo_lockable_test_suite

Test suite *std_observable_unordered_set_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.123 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_multiset_placebo_lockable_test_suite

Test suite *std_observable_unordered_multiset_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.131 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0.001

## std_observable_unordered_multimap_placebo_lockable_test_suite

Test suite *std_observable_unordered_multimap_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.138 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_map_placebo_lockable_test_suite

Test suite *std_observable_unordered_map_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.128 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0.001
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_set_placebo_lockable_test_suite

Test suite *std_observable_set_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.116 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_object_placebo_lockable_test_suite

Test suite *std_observable_object_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_object_lambda_placebo_lockable_test_suite

Test suite *std_observable_object_lambda_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.013 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_multiset_placebo_lockable_test_suite

Test suite *std_observable_multiset_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.126 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0.001
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## std_observable_multimap_placebo_lockable_test_suite

Test suite *std_observable_multimap_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.123 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_map_placebo_lockable_test_suite

Test suite *std_observable_map_placebo_lockable_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.116 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0.001
test_emplace | 0
test_emplace_hint | 0.001

## std_observable_list_placebo_lockable_test_suite

Test suite *std_observable_list_placebo_lockable_test_suite* with 26 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.273 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0.001
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_entire_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0.001
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_observable_forward_list_placebo_lockable_test_suite

Test suite *std_observable_forward_list_placebo_lockable_test_suite* with 24 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.289 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0.001
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace_after | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_after_entire_forward_list | 0
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0.001
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0.001
test_merge_compare_predicate | 0

## std_observable_deque_placebo_lockable_test_suite

Test suite *std_observable_deque_placebo_lockable_test_suite* with 17 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.183 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0.001
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0.001
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0

## std_observable_array_placebo_lockable_test_suite

Test suite *std_observable_array_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## std_event_manager_placebo_lockable_test_suite

Test suite *std_event_manager_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.013 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## std_command_placebo_lockable_test_suite

Test suite *std_command_placebo_lockable_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## std_command_manager_placebo_lockable_test_suite

Test suite *std_command_manager_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_command_manager_lambda_placebo_lockable_test_suite

Test suite *std_command_manager_lambda_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.023 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_command_execution_observer_placebo_lockable_test_suite

Test suite *std_command_execution_observer_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.022 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## std_observable_vector_test_suite

Test suite *std_observable_vector_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.131 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0.001
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0

## std_observable_unordered_set_test_suite

Test suite *std_observable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.111 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_multiset_test_suite

Test suite *std_observable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.119 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_multimap_test_suite

Test suite *std_observable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.116 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_map_test_suite

Test suite *std_observable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.111 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0.001
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_set_test_suite

Test suite *std_observable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.094 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_object_test_suite

Test suite *std_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_object_lambda_test_suite

Test suite *std_observable_object_lambda_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_multiset_test_suite

Test suite *std_observable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.108 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0.001
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_multimap_test_suite

Test suite *std_observable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.101 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0.001
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_map_test_suite

Test suite *std_observable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.095 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_list_test_suite

Test suite *std_observable_list_test_suite* with 26 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.236 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_entire_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0.001
test_merge_compare_predicate | 0

## std_observable_forward_list_test_suite

Test suite *std_observable_forward_list_test_suite* with 24 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.239 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace_after | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_after_entire_forward_list | 0.001
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_observable_deque_test_suite

Test suite *std_observable_deque_test_suite* with 17 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.145 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0.001
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0

## std_observable_array_test_suite

Test suite *std_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## std_event_manager_test_suite

Test suite *std_event_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0

## std_command_test_suite

Test suite *std_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## std_command_manager_test_suite

Test suite *std_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.017 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_command_manager_lambda_test_suite

Test suite *std_command_manager_lambda_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.019 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_command_execution_observer_test_suite

Test suite *std_command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.018 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## std_basic_relay_command_test_suite

Test suite *std_basic_relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## std_basic_observable_vector_test_suite

Test suite *std_basic_observable_vector_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.134 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0.001
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0.001
test_emplace_back | 0

## std_basic_observable_unordered_set_test_suite

Test suite *std_basic_observable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.113 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_basic_observable_unordered_multiset_test_suite

Test suite *std_basic_observable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.12 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0.001
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## std_basic_observable_unordered_multimap_test_suite

Test suite *std_basic_observable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.127 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0.001
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_basic_observable_unordered_map_test_suite

Test suite *std_basic_observable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.116 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0.001
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_basic_observable_set_test_suite

Test suite *std_basic_observable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.107 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0.001

## std_basic_observable_object_test_suite

Test suite *std_basic_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_basic_observable_object_lambda_test_suite

Test suite *std_basic_observable_object_lambda_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_basic_observable_multiset_test_suite

Test suite *std_basic_observable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.117 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0.001
test_emplace_hint | 0

## std_basic_observable_multimap_test_suite

Test suite *std_basic_observable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.111 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_basic_observable_map_test_suite

Test suite *std_basic_observable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.105 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0.001
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_basic_observable_list_test_suite

Test suite *std_basic_observable_list_test_suite* with 26 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.245 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0.001
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_entire_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_basic_observable_forward_list_test_suite

Test suite *std_basic_observable_forward_list_test_suite* with 24 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.246 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace_after | 0
test_emplace_back | 0.001
test_emplace_front | 0
test_splice_after_entire_forward_list | 0
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_basic_observable_deque_test_suite

Test suite *std_basic_observable_deque_test_suite* with 17 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.157 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0.001
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0.001
test_emplace_front | 0

## std_basic_observable_array_test_suite

Test suite *std_basic_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.01 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## std_basic_event_manager_test_suite

Test suite *std_basic_event_manager_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001

## std_basic_command_test_suite

Test suite *std_basic_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.008 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## std_basic_command_manager_test_suite

Test suite *std_basic_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.019 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001
test_spaceship_observer | 0

## std_basic_command_manager_lambda_test_suite

Test suite *std_basic_command_manager_lambda_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.026 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001
test_spaceship_observer | 0.001

## std_basic_command_execution_observer_test_suite

Test suite *std_basic_command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0
