---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* MSYS2 64bit 20200720
* gcc (Rev2, Built by MSYS2 project) 9.3.0

# Summary

Test suites *AllTests* with 11 test cases was executed 2021-05-02 at 17:07:04 with result:

* 0 errors
* 0 failures

Test suites execution took 0.138 seconds.

# Details

## std_spin_lock_test_suite

Test suite *std_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.024 seconds.

### Successful test cases

Test case|Execution time
-|-
test_spin_lock | 0
test_spin_lock_lock_guard | 0
test_spin_lock_two_threads | 0

## std_recursive_spin_lock_test_suite

Test suite *std_recursive_spin_lock_test_suite* with 4 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.043 seconds.

### Successful test cases

Test case|Execution time
-|-
test_recursive_spin_lock | 0
test_recursive_spin_lock_lock_guard | 0
test_recursive_spin_lock_two_threads | 0
test_placebo_lockable_two_threads | 0.001

## std_placebo_lockable_test_suite

Test suite *std_placebo_lockable_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.019 seconds.

### Successful test cases

Test case|Execution time
-|-
test_placebo_lockable | 0
test_placebo_lockable_lock_guard | 0

## std_monitor_test_suite

Test suite *std_monitor_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.013 seconds.

### Successful test cases

Test case|Execution time
-|-
test_monitor | 0
test_monitor_two_threads | 0
