---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2019, Community Edition, version 16.7.1

# Summary

Test suites *AllTests* with 26 test cases was executed 2021-10-01 at 16:42:02.751 with result:

* 0 errors
* 0 failures

Test suites execution took 0.022 seconds.

# Details

## boost_container_size_test_suite

Test suite *boost_container_size_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_size_on_deque | 0
test_size_on_list | 0
test_size_on_vector | 0
test_size_on_map | 0
test_size_on_set | 0

## boost_erase_iterator_test_suite

Test suite *boost_erase_iterator_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_erase_iterator_on_deque | 0
test_erase_iterator_on_list | 0
test_erase_iterator_on_vector | 0
test_erase_iterator_on_map | 0
test_erase_iterator_on_set | 0

## boost_scope_guard_new_test_suite

Test suite *boost_scope_guard_new_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard_new | 0

## boost_scope_guard_test_suite

Test suite *boost_scope_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_scope_guard | 0

## boost_try_move_iterator_backward_test_suite

Test suite *boost_try_move_iterator_backward_test_suite* with 13 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_try_move_backward_on_array | 0
test_try_move_backward_on_deque | 0
test_try_move_backward_on_forward_list | 0
test_try_move_backward_on_list | 0
test_try_move_backward_on_vector | 0
test_try_move_backward_on_map | 0
test_try_move_backward_on_set | 0
test_try_move_backward_on_multimap | 0
test_try_move_backward_on_multiset | 0
test_try_move_backward_on_unordered_map | 0
test_try_move_backward_on_unordered_set | 0
test_try_move_backward_on_unordered_multimap | 0
test_try_move_backward_on_unordered_multiset | 0

## boost_value_guard_test_suite

Test suite *boost_value_guard_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_value_guard | 0
