---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2019, Community Edition, version 16.3.2

# Summary

Test suites *AllTests* with 6 test cases was executed 2019-10-07 at 21:59:47 with result:

* 0 errors
* 0 failures

Test suites execution took 0.004 seconds.

# Details

## boost_exception_test_suite

Test suite *boost_exception_test_suite* with 6 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_catch_go_boost_exception | 0
test_catch_go_boost_exception_as_boost_exception | 0
test_catch_derived_exception | 0
test_catch_derived_exception_as_go_boost_exception | 0.001
test_catch_derived_exception_as_boost_exception | 0
test_catch_other_exception | 0
