---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2019, Community Edition, version 16.7.1

# Summary

Test suites *AllTests* with 72 test cases was executed 2021-05-02 at 17:07:42 with result:

* 0 errors
* 0 failures

Test suites execution took 0.112 seconds.

# Details

## boost_nameless_property_test_suite

Test suite *boost_nameless_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_nameless_property_placebo_lockable_test_suite

Test suite *boost_nameless_property_placebo_lockable_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0.001
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_property_placebo_lockable_test_suite

Test suite *boost_property_placebo_lockable_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_property_test_suite

Test suite *boost_property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.007 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0

## boost_u16property_test_suite

Test suite *boost_u16property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.03 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0.008
read_only_value_properties | 0.002
write_only_value_properties | 0.002
reference_properties | 0.002
read_only_reference_properties | 0.001
write_only_reference_properties | 0.002
proxy_properties | 0.002
read_only_proxy_properties | 0.002
write_only_proxy_properties | 0.002

## boost_u32property_test_suite

Test suite *boost_u32property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.026 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0.002
read_only_value_properties | 0.002
write_only_value_properties | 0.002
reference_properties | 0.002
read_only_reference_properties | 0.002
write_only_reference_properties | 0.002
proxy_properties | 0.003
read_only_proxy_properties | 0.002
write_only_proxy_properties | 0.003

## boost_u8property_test_suite

Test suite *boost_u8property_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.021 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0.002
read_only_value_properties | 0.001
write_only_value_properties | 0.002
reference_properties | 0.002
read_only_reference_properties | 0.002
write_only_reference_properties | 0.002
proxy_properties | 0.002
read_only_proxy_properties | 0.002
write_only_proxy_properties | 0.002

## boost_wproperty_test_suite

Test suite *boost_wproperty_test_suite* with 9 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
value_properties | 0
read_only_value_properties | 0
write_only_value_properties | 0
reference_properties | 0
read_only_reference_properties | 0
write_only_reference_properties | 0
proxy_properties | 0
read_only_proxy_properties | 0
write_only_proxy_properties | 0
