---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2019, Community Edition, version 16.11.5

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-12-30 at 22:00:58.468 with result:

* 0 errors
* 0 failures

Test suites execution took 0.884 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.881 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.111
test_stopwatch_reset | 0.11
test_stopwatch_guard | 0.11
test_stopwatch_start_stop_five_times | 0.543
