---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2017, Community Edition, version 15.9.40

# Summary

Test suites *AllTests* with 177 test cases was executed 2021-11-09 at 20:00:11.804 with result:

* 0 errors
* 0 failures

Test suites execution took 0.12 seconds.

# Details

## boost_ascii_test_suite

Test suite *boost_ascii_test_suite* with 36 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.019 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_utf_16_character_count | 0
test_utf_32_character_count | 0
test_char_is_7_bit_ascii_character | 0
test_char8_t_is_7_bit_ascii_character | 0
test_wchar_t_is_7_bit_ascii_character | 0
test_char2_t_is_7_bit_ascii_character | 0
test_char16_t_is_7_bit_ascii_character | 0
test_char32_t_is_7_bit_ascii_character | 0
test_multibyte_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_system_wide_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_ucs_2_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_utf_8_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_utf_16_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_utf_32_reduce_iso_8859_1_to_7_bit_ascii_characters | 0
test_multibyte_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_system_wide_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_ucs_2_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_utf_8_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_utf_16_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_utf_32_reduce_iso_8859_1_to_7_bit_ascii_non_strict_characters | 0
test_multibyte_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_system_wide_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_ucs_2_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_utf_8_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_utf_16_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_utf_32_reduce_windows_1252_to_7_bit_ascii_characters | 0
test_multibyte_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_system_wide_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_ucs_2_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_utf_8_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_utf_16_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0
test_utf_32_reduce_windows_1252_to_7_bit_ascii_non_strict_characters | 0

## boost_create_string_test_suite

Test suite *boost_create_string_test_suite* with 36 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.033 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_string_from_char | 0
test_create_string_from_wchar_t | 0
test_create_string_from_char2_t | 0
test_create_string_from_char8_t | 0
test_create_string_from_char16_t | 0
test_create_string_from_char32_t | 0
test_create_wstring_from_char | 0.009
test_create_wstring_from_wchar_t | 0
test_create_wstring_from_char2_t | 0
test_create_wstring_from_char8_t | 0
test_create_wstring_from_char16_t | 0
test_create_wstring_from_char32_t | 0
test_create_u2string_from_char | 0
test_create_u2string_from_wchar_t | 0
test_create_u2string_from_char2_t | 0
test_create_u2string_from_char8_t | 0
test_create_u2string_from_char16_t | 0
test_create_u2string_from_char32_t | 0
test_create_u8string_from_char | 0
test_create_u8string_from_wchar_t | 0
test_create_u8string_from_char2_t | 0
test_create_u8string_from_char8_t | 0
test_create_u8string_from_char16_t | 0
test_create_u8string_from_char32_t | 0
test_create_u16string_from_char | 0
test_create_u16string_from_wchar_t | 0
test_create_u16string_from_char2_t | 0
test_create_u16string_from_char8_t | 0
test_create_u16string_from_char16_t | 0
test_create_u16string_from_char32_t | 0
test_create_u32string_from_char | 0
test_create_u32string_from_wchar_t | 0
test_create_u32string_from_char2_t | 0
test_create_u32string_from_char8_t | 0
test_create_u32string_from_char16_t | 0
test_create_u32string_from_char32_t | 0

## boost_iso_8859_1_test_suite

Test suite *boost_iso_8859_1_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_utf_16_character_count | 0
test_utf_32_character_count | 0
test_char_is_iso_8859_1_character | 0
test_char8_t_is_iso_8859_1_character | 0
test_wchar_t_is_iso_8859_1_character | 0
test_char2_t_is_iso_8859_1_character | 0
test_char16_t_is_iso_8859_1_character | 0
test_char32_t_is_iso_8859_1_character | 0

## boost_string_cast_test_suite

Test suite *boost_string_cast_test_suite* with 81 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.055 seconds.

### Successful test cases

Test case|Execution time
-|-
test_char_size | 0
test_wchar_t_size | 0
test_char2_t_size | 0
test_char8_t_size | 0
test_char16_t_size | 0
test_char32_t_size | 0
test_multibyte_ascii_printable_characters | 0
test_multibyte_iso_8859_1_printable_characters | 0
test_cast_ascii_from_string_to_string | 0
test_cast_iso_8859_1_from_string_to_string | 0
test_cast_swedish_from_string_to_string | 0
test_cast_ascii_from_wstring_to_string | 0
test_cast_swedish_from_wstring_to_string | 0
test_cast_ascii_from_u2string_to_string | 0
test_cast_swedish_from_u2string_to_string | 0
test_cast_ascii_from_u8string_to_string | 0
test_cast_swedish_from_u8string_to_string | 0
test_cast_ascii_from_u16string_to_string | 0
test_cast_swedish_from_u16string_to_string | 0
test_cast_ascii_from_u32string_to_string | 0
test_cast_swedish_from_u32string_to_string | 0
test_cast_ascii_from_string_to_wstring | 0
test_cast_swedish_from_string_to_wstring | 0
test_cast_ascii_from_wstring_to_wstring | 0
test_cast_swedish_from_wstring_to_wstring | 0
test_cast_ascii_from_u2string_to_wstring | 0
test_cast_swedish_from_u2string_to_wstring | 0
test_cast_ascii_from_u8string_to_wstring | 0
test_cast_swedish_from_u8string_to_wstring | 0
test_cast_ascii_from_u16string_to_wstring | 0
test_cast_swedish_from_u16string_to_wstring | 0
test_cast_ascii_from_u32string_to_wstring | 0
test_cast_swedish_from_u32string_to_wstring | 0
test_cast_ascii_from_string_to_u2string | 0
test_cast_swedish_from_string_to_u2string | 0
test_cast_ascii_from_wstring_to_u2string | 0
test_cast_swedish_from_wstring_to_u2string | 0
test_cast_ascii_from_u2string_to_u2string | 0
test_cast_swedish_from_u2string_to_u2string | 0
test_cast_ascii_from_u8string_to_u2string | 0
test_cast_swedish_from_u8string_to_u2string | 0
test_cast_ascii_from_u16string_to_u2string | 0
test_cast_swedish_from_u16string_to_u2string | 0
test_cast_ascii_from_u32string_to_u2string | 0
test_cast_swedish_from_u32string_to_u2string | 0
test_cast_ascii_from_string_to_u8string | 0
test_cast_swedish_from_string_to_u8string | 0
test_cast_ascii_from_wstring_to_u8string | 0
test_cast_swedish_from_wstring_to_u8string | 0
test_cast_ascii_from_u2string_to_u8string | 0
test_cast_swedish_from_u2string_to_u8string | 0
test_cast_ascii_from_u8string_to_u8string | 0
test_cast_swedish_from_u8string_to_u8string | 0
test_cast_ascii_from_u16string_to_u8string | 0
test_cast_swedish_from_u16string_to_u8string | 0
test_cast_ascii_from_u32string_to_u8string | 0
test_cast_swedish_from_u32string_to_u8string | 0
test_cast_ascii_from_string_to_u16string | 0
test_cast_swedish_from_string_to_u16string | 0
test_cast_ascii_from_wstring_to_u16string | 0
test_cast_swedish_from_wstring_to_u16string | 0
test_cast_ascii_from_u2string_to_u16string | 0
test_cast_swedish_from_u2string_to_u16string | 0
test_cast_ascii_from_u8string_to_u16string | 0
test_cast_swedish_from_u8string_to_u16string | 0
test_cast_ascii_from_u16string_to_u16string | 0
test_cast_swedish_from_u16string_to_u16string | 0
test_cast_ascii_from_u32string_to_u16string | 0
test_cast_swedish_from_u32string_to_u16string | 0
test_cast_ascii_from_string_to_u32string | 0
test_cast_swedish_from_string_to_u32string | 0
test_cast_ascii_from_wstring_to_u32string | 0
test_cast_swedish_from_wstring_to_u32string | 0
test_cast_ascii_from_u2string_to_u32string | 0
test_cast_swedish_from_u2string_to_u32string | 0
test_cast_ascii_from_u8string_to_u32string | 0
test_cast_swedish_from_u8string_to_u32string | 0
test_cast_ascii_from_u16string_to_u32string | 0
test_cast_swedish_from_u16string_to_u32string | 0
test_cast_ascii_from_u32string_to_u32string | 0
test_cast_swedish_from_u32string_to_u32string | 0

## boost_windows_1252_test_suite

Test suite *boost_windows_1252_test_suite* with 12 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_multibyte_character_count | 0
test_system_wide_character_count | 0
test_ucs_2_character_count | 0
test_utf_8_character_count | 0
test_utf_16_character_count | 0
test_utf_32_character_count | 0
test_char_is_windows_1252_character | 0
test_char8_t_is_windows_1252_character | 0
test_wchar_t_is_windows_1252_character | 0
test_char2_t_is_windows_1252_character | 0
test_char16_t_is_windows_1252_character | 0
test_char32_t_is_windows_1252_character | 0
