---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2017, Community Edition, version 15.9.40

# Summary

Test suites *AllTests* with 5 test cases was executed 2021-12-30 at 22:00:50.823 with result:

* 0 errors
* 0 failures

Test suites execution took 0.883 seconds.

# Details

## boost_stopwatch_test_suite

Test suite *boost_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.88 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.112
test_stopwatch_reset | 0.107
test_stopwatch_guard | 0.106
test_stopwatch_start_stop_five_times | 0.547
