---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2017, Community Edition, version 15.9.23

# Summary

Test suites *AllTests* with 9 test cases was executed 2021-10-01 at 16:41:56.099 with result:

* 0 errors
* 0 failures

Test suites execution took 0.009 seconds.

# Details

## boost_placebo_lockable_test_suite

Test suite *boost_placebo_lockable_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_placebo_lockable | 0
test_placebo_lockable_scoped_lock | 0
test_placebo_lockable_two_threads | 0.001

## boost_recursive_spin_lock_test_suite

Test suite *boost_recursive_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_recursive_spin_lock | 0
test_recursive_spin_lock_lock_guard | 0
test_recursive_spin_lock_two_threads | 0

## boost_spin_lock_test_suite

Test suite *boost_spin_lock_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_spin_lock | 0
test_spin_lock_scoped_lock | 0
test_spin_lock_two_threads | 0
