---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2017, Community Edition, version 15.8.1

# Summary

Test suites *AllTests* with 362 test cases was executed 2018-09-20 at 18:10:17 with result:

* 0 errors
* 0 failures

Test suites execution took 0.242 seconds.

# Details

## command_execution_observer_test_suite

Test suite *command_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_command | 0
test_post_command | 0

## std_command_manager_lambda_test_suite

Test suite *std_command_manager_lambda_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_command_manager_test_suite

Test suite *std_command_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0.001

## command_test_suite

Test suite *command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command | 0

## std_event_manager_test_suite

Test suite *std_event_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0.001
test_command_manager | 0

## std_observable_array_test_suite

Test suite *std_observable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## std_observable_deque_test_suite

Test suite *std_observable_deque_test_suite* with 17 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.005 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0

## std_observable_forward_list_test_suite

Test suite *std_observable_forward_list_test_suite* with 24 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.016 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace_after | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_after_entire_forward_list | 0
test_splice_after_single_element | 0
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_observable_list_test_suite

Test suite *std_observable_list_test_suite* with 26 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.028 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_entire_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_observable_map_test_suite

Test suite *std_observable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0.001
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_multimap_test_suite

Test suite *std_observable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_multiset_test_suite

Test suite *std_observable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## std_observable_object_lambda_test_suite

Test suite *std_observable_object_lambda_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_observable_object_test_suite

Test suite *std_observable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0.001

## std_observable_set_test_suite

Test suite *std_observable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_map_test_suite

Test suite *std_observable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_multimap_test_suite

Test suite *std_observable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_multiset_test_suite

Test suite *std_observable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_unordered_set_test_suite

Test suite *std_observable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_observable_vector_test_suite

Test suite *std_observable_vector_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0

## relay_command_test_suite

Test suite *relay_command_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_command | 0

## relay_wcommand_test_suite

Test suite *relay_wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_relay_wcommand | 0

## wcommand_execution_observer_test_suite

Test suite *wcommand_execution_observer_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.009 seconds.

### Successful test cases

Test case|Execution time
-|-
test_execute_wcommand | 0
test_post_wcommand | 0

## std_wcommand_manager_lambda_test_suite

Test suite *std_wcommand_manager_lambda_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## std_wcommand_manager_test_suite

Test suite *std_wcommand_manager_test_suite* with 2 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_command_manager | 0
test_spaceship_observer | 0

## wcommand_test_suite

Test suite *wcommand_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_wcommand | 0

## std_wobservable_array_test_suite

Test suite *std_wobservable_array_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create | 0

## std_wobservable_deque_test_suite

Test suite *std_wobservable_deque_test_suite* with 17 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0.001
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0

## std_wobservable_forward_list_test_suite

Test suite *std_wobservable_forward_list_test_suite* with 24 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.006 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_front | 0
test_pop_front | 0
test_insert_after_single_element | 0
test_insert_after_fill | 0
test_insert_after_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace_after | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_after_entire_forward_list | 0
test_splice_after_single_element | 0.001
test_splice_after_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_wobservable_list_test_suite

Test suite *std_wobservable_list_test_suite* with 26 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.016 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0
test_push_front | 0
test_pop_back | 0
test_pop_front | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
test_emplace_front | 0
test_splice_entire_list | 0
test_splice_single_element | 0
test_splice_element_range | 0
test_remove | 0
test_remove_if | 0
test_unique | 0
test_unique_binary_predicate | 0
test_merge | 0
test_merge_compare_predicate | 0

## std_wobservable_map_test_suite

Test suite *std_wobservable_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_multimap_test_suite

Test suite *std_wobservable_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.004 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0.001

## std_wobservable_multiset_test_suite

Test suite *std_wobservable_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_object_lambda_test_suite

Test suite *std_wobservable_object_lambda_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_wobservable_object_test_suite

Test suite *std_wobservable_object_test_suite* with 1 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_observable_object | 0

## std_wobservable_set_test_suite

Test suite *std_wobservable_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_unordered_map_test_suite

Test suite *std_wobservable_unordered_map_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_unordered_multimap_test_suite

Test suite *std_wobservable_unordered_multimap_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0.001
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_unordered_multiset_test_suite

Test suite *std_wobservable_unordered_multiset_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.012 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_unordered_set_test_suite

Test suite *std_wobservable_unordered_set_test_suite* with 11 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.003 seconds.

### Successful test cases

Test case|Execution time
-|-
test_insert_single_element | 0
test_insert_single_element_with_hint | 0
test_insert_range | 0
test_insert_initializer_list | 0
test_erase_position | 0
test_erase_value | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_hint | 0

## std_wobservable_vector_test_suite

Test suite *std_wobservable_vector_test_suite* with 14 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.011 seconds.

### Successful test cases

Test case|Execution time
-|-
test_assign_range | 0
test_assign_initializer_list | 0
test_assign_fill | 0
test_push_back | 0.001
test_pop_back | 0
test_insert_single_element | 0
test_insert_fill | 0
test_insert_range | 0
test_erase_position | 0
test_erase_range | 0
test_swap | 0
test_clear | 0
test_emplace | 0
test_emplace_back | 0
