---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2017, Community Edition, version 15.9.18

# Summary

Test suites *AllTests* with 5 test cases was executed 2019-12-19 at 21:03:50 with result:

* 0 errors
* 0 failures

Test suites execution took 0.812 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.81 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.101
test_stopwatch_reset | 0.101
test_stopwatch_guard | 0.101
test_stopwatch_start_stop_five_times | 0.504
