---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2017, Community Edition, version 15.9.16

# Summary

Test suites *AllTests* with 9 test cases was executed 2019-09-30 at 18:07:14 with result:

* 0 errors
* 0 failures

Test suites execution took 0.007 seconds.

# Details

## std_signals_string_placebo_lockable_test_suite

Test suite *std_signals_string_placebo_lockable_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0.001
test_fire_proton_torpedoes | 0
test_fire_all_weapons | 0

## std_signals_string_test_suite

Test suite *std_signals_string_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.001 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0
test_fire_proton_torpedoes | 0
test_fire_all_weapons | 0

## std_signals_wstring_test_suite

Test suite *std_signals_wstring_test_suite* with 3 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.002 seconds.

### Successful test cases

Test case|Execution time
-|-
test_fire_lasers | 0
test_fire_proton_torpedoes | 0
test_fire_all_weapons | 0
