---
layout: unit_tests
---

# Test environment and toolset 

* Windows 10 Professional, 64 bit
* Visual Studio 2017, Community Edition, version 15.9.23

# Summary

Test suites *AllTests* with 5 test cases was executed 2020-07-21 at 17:07:00 with result:

* 0 errors
* 0 failures

Test suites execution took 0.862 seconds.

# Details

## std_stopwatch_test_suite

Test suite *std_stopwatch_test_suite* with 5 test cases was executed with result:

* 0 errors
* 0 failures

Test suite execution took 0.86 seconds.

### Successful test cases

Test case|Execution time
-|-
test_create_stopwatch | 0
test_stopwatch_start_stop | 0.105
test_stopwatch_reset | 0.106
test_stopwatch_guard | 0.108
test_stopwatch_start_stop_five_times | 0.537
